In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)

In [3]:
df1=pd.read_csv('CSV 1.csv')

df1.head()

        id        city country          fullStreetAddress postalCode stateOrProvince unitNumber  bathrooms  bedrooms                                 listingDescription                                       listingTitle  latitude  longitude  listPrice  livingArea livingAreaUnit  yearBuilt   lotSize lotSizeUnit         propertySubType listingCategory  numParkingSpaces                   createdAt  geocodioAccuracyScore  photoscount    grade
0  2698139   St Peters      US     12 Legacy Estates Lane      63376              MO        NaN          6         5  Tucked away in the private Legacy Estates subd...           Residential, Traditional - St Peters, MO       NaN        NaN   425000.0      3046.0     squareFoot     1998.0       NaN  squareFoot  Single Family Detached        Purchase               3.0  2019-02-21 14:53:27.462+00                    NaN           29  awesome
1  2698093    St Louis      US          222 Euclid Avenue      63119              MO        NaN          2         3  This charming Ranch offers hardwood flooring o...      Residential, Traditional,Ranch - St Louis, MO       NaN        NaN   175000.0      1587.0     squareFoot     1962.0   7753.68  squareFoot  Single Family Detached        Purchase               1.0   2019-02-21 14:53:07.92+00                    NaN           29  awesome
2  2698007     Ballwin      US  741 Woodside Trails Drive      63021              MO        NaN          3         3  This is the LARGEST Villa-style condo in this ...             Traditional,Ranch, Condo - Ballwin, MO       NaN        NaN   295000.0      2437.0     squareFoot     1986.0  14766.84  squareFoot             Condominium        Purchase               2.0  2019-02-21 14:52:30.126+00                    NaN           29  awesome
3  2697963  Manchester      US           301 Wembley Lane      63021              MO        NaN          2         3  Over 1700 sq ft of updated living space in con...  Traditional,Split Foyer, Residential - Manches...       NaN        NaN   215000.0      1780.0     squareFoot     1969.0  11848.32  squareFoot  Single Family Detached        Purchase               2.0   2019-02-21 14:52:11.85+00                    NaN           29  awesome
4  2697938    O'fallon      US           27 Clear Meadows      63366              MO        NaN          4         4  Move in ready, excellent condition. Outstandin...            Residential, Traditional - O'Fallon, MO       NaN        NaN   375000.0      3405.0     squareFoot     2007.0  10890.00  squareFoot  Single Family Detached        Purchase               3.0  2019-02-21 14:51:55.495+00                    NaN           29  awesome

Address and listing description is of no use in classification

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 26 columns):
id                       900 non-null int64
city                     900 non-null object
country                  900 non-null object
fullStreetAddress        900 non-null object
postalCode               900 non-null object
stateOrProvince          899 non-null object
unitNumber               118 non-null object
bathrooms                900 non-null int64
bedrooms                 900 non-null int64
listingDescription       842 non-null object
listingTitle             900 non-null object
latitude                 789 non-null float64
longitude                789 non-null float64
listPrice                900 non-null float64
livingArea               726 non-null float64
livingAreaUnit           900 non-null object
yearBuilt                791 non-null float64
lotSize                  562 non-null float64
lotSizeUnit              900 non-null object
propertySubType          900 non-null object
listingCategory          900 non-null object
numParkingSpaces         460 non-null float64
createdAt                900 non-null object
geocodioAccuracyScore    27 non-null float64
photoscount              900 non-null int64
grade                    900 non-null object
dtypes: float64(8), int64(4), object(14)
memory usage: 182.9+ KB

In [5]:
df2=pd.read_csv('CSV 2.csv')

df2.head()

        id  favouritecount
0  2698139               0
1  2698093               0
2  2698007               0
3  2697963               0
4  2697938               0

In [6]:
df3=pd.read_csv('CSV 3.csv')

df3.head()

        id  collabprojectscount
0  2698139                    0
1  2698093                    0
2  2698007                    0
3  2697963                    0
4  2697938                    0

In [7]:
df=df1.merge(df2,how='left',on=['id'])#merging the data of csv2 wrt csv1

In [8]:
df=df.merge(df3,how='left',on=['id'])#merging the data of csv3 wrt csv1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 900 entries, 0 to 899
Data columns (total 28 columns):
id                       900 non-null int64
city                     900 non-null object
country                  900 non-null object
fullStreetAddress        900 non-null object
postalCode               900 non-null object
stateOrProvince          899 non-null object
unitNumber               118 non-null object
bathrooms                900 non-null int64
bedrooms                 900 non-null int64
listingDescription       842 non-null object
listingTitle             900 non-null object
latitude                 789 non-null float64
longitude                789 non-null float64
listPrice                900 non-null float64
livingArea               726 non-null float64
livingAreaUnit           900 non-null object
yearBuilt                791 non-null float64
lotSize                  562 non-null float64
lotSizeUnit              900 non-null object
propertySubType          900 non-null object
listingCategory          900 non-null object
numParkingSpaces         460 non-null float64
createdAt                900 non-null object
geocodioAccuracyScore    27 non-null float64
photoscount              900 non-null int64
grade                    900 non-null object
favouritecount           900 non-null int64
collabprojectscount      900 non-null int64
dtypes: float64(8), int64(6), object(14)
memory usage: 203.9+ KB

In [10]:
df.isna().sum()/len(df)

id                       0.000000
city                     0.000000
country                  0.000000
fullStreetAddress        0.000000
postalCode               0.000000
stateOrProvince          0.001111
unitNumber               0.868889
bathrooms                0.000000
bedrooms                 0.000000
listingDescription       0.064444
listingTitle             0.000000
latitude                 0.123333
longitude                0.123333
listPrice                0.000000
livingArea               0.193333
livingAreaUnit           0.000000
yearBuilt                0.121111
lotSize                  0.375556
lotSizeUnit              0.000000
propertySubType          0.000000
listingCategory          0.000000
numParkingSpaces         0.488889
createdAt                0.000000
geocodioAccuracyScore    0.970000
photoscount              0.000000
grade                    0.000000
favouritecount           0.000000
collabprojectscount      0.000000
dtype: float64

unitNumber and geocodioAccuracyScore are of no use as they have huge nulls

In [11]:
df.select_dtypes(exclude='object').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 900 entries, 0 to 899
Data columns (total 14 columns):
id                       900 non-null int64
bathrooms                900 non-null int64
bedrooms                 900 non-null int64
latitude                 789 non-null float64
longitude                789 non-null float64
listPrice                900 non-null float64
livingArea               726 non-null float64
yearBuilt                791 non-null float64
lotSize                  562 non-null float64
numParkingSpaces         460 non-null float64
geocodioAccuracyScore    27 non-null float64
photoscount              900 non-null int64
favouritecount           900 non-null int64
collabprojectscount      900 non-null int64
dtypes: float64(8), int64(6)
memory usage: 105.5 KB

In [12]:
df.select_dtypes(include='object').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 900 entries, 0 to 899
Data columns (total 14 columns):
city                  900 non-null object
country               900 non-null object
fullStreetAddress     900 non-null object
postalCode            900 non-null object
stateOrProvince       899 non-null object
unitNumber            118 non-null object
listingDescription    842 non-null object
listingTitle          900 non-null object
livingAreaUnit        900 non-null object
lotSizeUnit           900 non-null object
propertySubType       900 non-null object
listingCategory       900 non-null object
createdAt             900 non-null object
grade                 900 non-null object
dtypes: object(14)
memory usage: 105.5+ KB

### inspecting object type data

In [13]:
df.country.value_counts()

US    897
CA      2
PR      1
Name: country, dtype: int64

country is of no use because all of them except 3 are from same country so it nust not create any difference

In [14]:
df.city.value_counts()

Las Vegas                               31
Miami                                   23
Other City - In The State Of Florida    10
Henderson                                9
St Bernard                               8
New York                                 8
Brooklyn                                 7
CHICAGO                                  6
JACKSONVILLE                             6
Flint                                    6
Pahrump                                  6
Aventura                                 5
North Las Vegas                          5
ST PETERSBURG                            5
Charlotte                                5
Miami Beach                              5
East Dublin                              5
Henrico                                  4
TAMPA                                    4
Canton                                   4
Des Moines                               4
Phoenix                                  4
Atlanta                                  4
Coral Springs                            4
Basehor                                  4
Lucas                                    4
Springfield                              3
Ashland                                  3
Jamaica                                  3
Lewisville                               3
Hereford                                 3
Hialeah                                  3
Bronx                                    3
Sanford                                  3
El Paso                                  3
Homestead                                3
St Louis                                 3
McCall                                   3
CAPE CORAL                               3
Staten Island                            3
BALTIMORE                                3
Richmond                                 3
Los Angeles (City)                       3
Little Rock                              3
Omaha                                    3
Jackson                                  3
Greensboro                               3
Sunrise                                  3
Palm Springs                             2
Toms River                               2
PORT CHARLOTTE                           2
Acworth                                  2
Colleyville                              2
WASHINGTON                               2
Davie                                    2
TALLAHASSEE                              2
ORANGE PARK                              2
Jonesboro                                2
Kansas City                              2
Chandler                                 2
Avondale                                 2
BROADWAY                                 2
Wausau                                   2
Glendale                                 2
Charleston                               2
Conway                                   2
Prosper                                  2
SANFORD                                  2
Rowlett                                  2
SEMINOLE                                 2
Pikeville                                2
Visalia                                  2
COLUMBIA                                 2
Vancouver                                2
Lake Havasu City                         2
Independence                             2
Tamarac                                  2
POTOMAC                                  2
Shelby                                   2
SARASOTA                                 2
Miramar                                  2
Tucson                                   2
Jacksonville                             2
Anderson                                 2
Tulsa                                    2
LAKELAND                                 2
Scottsdale                               2
Louisville                               2
Trenton                                  2
Fayetteville                             2
Flushing                                 2
Fresno                                   2
Allen                                    2
Knoxville                                2
Claremore                                2
Orlando                                  2
Decatur                                  2
Marietta                                 2
Rockwood                                 2
Houston                                  2
Manchester                               2
Jenison                                  2
West Palm Beach                          2
Max Meadows                              2
McDonough                                2
Virginia Beach                           2
Lake Placid                              2
Jim Thorpe                               2
ORLANDO                                  2
Albuquerque                              2
Cheyenne                                 2
Suffolk                                  2
Denton                                   2
FAYETTEVILLE                             2
Ankeny                                   2
North Myrtle Beach                       2
HotSprings                               2
Deerfield Beach                          2
North Lauderdale                         2
Sayreville                               2
HOLIDAY                                  2
Bakersfield                              2
Queens                                   2
Detroit                                  2
Shrewsbury                               1
College Point                            1
SPANISH FORT                             1
Oxford                                   1
Brentwood                                1
Wimberley                                1
Powder Springs                           1
Greenbrier                               1
Niceville                                1
Atlantic City                            1
Miramar Beach                            1
Pinedale                                 1
Coon Rapids                              1
Akron                                    1
Libertyville                             1
Petersburg                               1
Los Alamitos                             1
Lafollette                               1
Rio Rancho                               1
Fairfield Bay                            1
Donalsonville                            1
OXFORD                                   1
Norman                                   1
Hon.                                     1
Paragould                                1
Bloomingdale Boro                        1
Newark City                              1
Cromwell                                 1
Lemoore                                  1
College Station                          1
Muncie                                   1
Ramer                                    1
Oneonta                                  1
Nolensville                              1
Medley                                   1
Ketchum                                  1
Myrtle Beach                             1
Yonkers                                  1
LEXINGTON PARK                           1
Douglasville                             1
Lower Macungie                           1
VESTAVIA HILLS                           1
Sharpsburg                               1
Sun City West                            1
Lincoln                                  1
Millstone                                1
Liberty Twp                              1
Cordova                                  1
Warren                                   1
Vero Beach                               1
Pueblo                                   1
Lyman                                    1
SPRING HILL                              1
Dundee                                   1
Ballwin                                  1
Haslet                                   1
Spokane                                  1
St. Andrew West                          1
Russellville                             1
Baxter                                   1
ST AUGUSTINE                             1
Stratford                                1
FORT MYERS                               1
LIVERMORE                                1
Preston                                  1
Lee's Summit                             1
Oro Valley                               1
BIRMINGHAM                               1
Salina                                   1
Clinton                                  1
Yukon                                    1
Silverhill                               1
PARKERSBURG                              1
Lynchburg                                1
Goose Creek                              1
Stone Harbor                             1
Eight Mile                               1
Bradley Beach                            1
North Port                               1
Overland Park                            1
Shawnee                                  1
CRAWFORDVILLE                            1
Colorado Springs                         1
Burleson                                 1
MIROMAR LAKES                            1
farrockaway                              1
San Antonio                              1
Victoria                                 1
Sarasota                                 1
North Augusta                            1
Dale                                     1
Yankton                                  1
Statesville                              1
Pella                                    1
ANNAPOLIS                                1
CHANNAHON                                1
NAPLES                                   1
Fenton                                   1
Cathedral City                           1
Rincon                                   1
Williamstown                             1
Bismarck                                 1
Groton                                   1
Peoria                                   1
Bay Harbor Islands                       1
Lancaster                                1
SKOKIE                                   1
Bayam√≥n                                  1
Tyler                                    1
Cedartown                                1
Seminole                                 1
Palmdale                                 1
Hopkins                                  1
Eastlake                                 1
Leakesville                              1
DAVENPORT                                1
Merrick                                  1
Great Falls                              1
North Brunswick                          1
Eustis                                   1
Barrington                               1
Snohomish                                1
Stella                                   1
Williamsburg                             1
Rogers                                   1
Evansville                               1
                                        ..
Long Branch                              1
Big Bear Lake                            1
Oklahoma City                            1
Brigantine                               1
Beechhurst                               1
Patoka                                   1
Johnston                                 1
Worcester                                1
Plant City                               1
Gruver                                   1
Jeffersonville                           1
Scarborough                              1
Cape Canaveral                           1
East Hills                               1
Sparta                                   1
San Francisco                            1
Hendersonville                           1
Bristol                                  1
LAKE IN THE HILLS                        1
Winnfield                                1
Sierra Vista                             1
Gilbert                                  1
Bernards                                 1
New Hyde Park                            1
Jamestown                                1
PINEVILLE                                1
Groesbeck                                1
Colonie                                  1
Dry Ridge                                1
Goodyear                                 1
Frankfort                                1
Big Bear                                 1
Sherwood                                 1
Hollywood                                1
Oconomowoc                               1
Pine Bluff                               1
BRAZIL                                   1
West Des Moines                          1
Chattahoochee Hills                      1
Red Bank                                 1
Kernersville                             1
CULLMAN                                  1
Philadelphia                             1
Boca Raton                               1
ST JOHNS                                 1
Chicago                                  1
WINDERMERE                               1
Elberton                                 1
Duryea                                   1
Seneca                                   1
Pottsboro                                1
St Clair                                 1
Logan                                    1
Mt Washington                            1
LAKE MARY                                1
Murfreesboro                             1
Marlboro                                 1
East Orange City                         1
Fremont                                  1
Cookson                                  1
Klamath Falls                            1
Alta                                     1
New Scotland TOV                         1
Mukwonago                                1
Smithville                               1
Coolidge                                 1
Saginaw                                  1
Gastonia                                 1
Lucedale                                 1
O'fallon                                 1
Dubuque                                  1
Massapequa                               1
Sun City                                 1
RIVERVIEW                                1
Mt. Vernon                               1
Boynton Beach                            1
Brunswick                                1
Sahuarita                                1
Huntersville                             1
Yutan                                    1
Rotterdam                                1
Dallas                                   1
Miami Gardens                            1
Horseheads                               1
Abbeville                                1
Kevil                                    1
Ocala                                    1
Lakewood                                 1
Camby                                    1
PALATINE                                 1
JC, Bergen-Lafayett                      1
Deatsville                               1
Oshkosh                                  1
Palm Coast                               1
Placitas                                 1
Derry                                    1
Waterboro                                1
Vista                                    1
NAPERVILLE                               1
City Of Orange Twp.                      1
Mount Vernon                             1
Morro Bay                                1
Valdosta                                 1
Wadesboro                                1
Lawton                                   1
Wildwood Crest                           1
Coconut Grove                            1
Traverse City                            1
Providence                               1
Cerritos                                 1
Kathleen                                 1
ELGIN                                    1
Orchard Park                             1
Port Charlotte                           1
North Miami Beach                        1
Vail                                     1
Elkins                                   1
Sanger                                   1
Shreveport                               1
TOA ALTA                                 1
New Bern                                 1
Lockport                                 1
Nashville                                1
Palmetto Bay                             1
Fort Lauderdale                          1
Other County - Not In Usa                1
St Petersburg                            1
Metairie                                 1
Edinburg                                 1
Derby                                    1
Mission                                  1
Paxton                                   1
Sea Isle City                            1
Rindge                                   1
Cicero                                   1
LEHIGH ACRES                             1
Surprise                                 1
North Richland Hills                     1
River Edge                               1
Bellevue                                 1
Lafayette                                1
EAST DUNDEE                              1
Gold Hill                                1
Dix Hills                                1
Central Islip                            1
Jupiter                                  1
Arlington                                1
Delaware                                 1
WAUKEGAN                                 1
Hixson                                   1
Deer Isle                                1
Vacaville                                1
Osceola                                  1
Monroe City                              1
Cedar Rapids                             1
Loveland                                 1
CLEARWATER                               1
Ilion NY                                 1
Milwaukee                                1
Carroll                                  1
Whitehall                                1
Macon                                    1
Florence                                 1
Shirley                                  1
Hiram                                    1
THE VILLAGES                             1
Mclean                                   1
Yaphank                                  1
Salem                                    1
POSEN                                    1
RESTON                                   1
Twin Falls                               1
Richardson                               1
NORTH FORT MYERS                         1
Elkhart                                  1
Candor                                   1
Plaquemine                               1
Indianapolis                             1
St. James                                1
Aiken                                    1
Newport News                             1
Topeka                                   1
Demorest                                 1
HALLSVILLE                               1
Leavenworth                              1
Plain City                               1
Chesnee                                  1
Pegram                                   1
Columbus                                 1
Joplin                                   1
Lewiston                                 1
BRAMPTON                                 1
Austin                                   1
Lake Ariel                               1
Locust Grove                             1
Plano                                    1
Forney                                   1
Yakima                                   1
Oneida                                   1
Parma                                    1
Statesboro                               1
Montgomery                               1
Dothan                                   1
Scranton                                 1
Lake Forest Park                         1
Maysville                                1
Yorkville                                1
Murrieta                                 1
Grimes                                   1
Canterbury                               1
Duluth                                   1
Frisco                                   1
Longboat Key                             1
West Columbia                            1

in 900 data rows having 620 city will also not hamper the data

In [15]:
df.stateOrProvince.value_counts()

FL    166
NY     64
NV     53
TX     51
GA     43
NJ     36
CA     34
AZ     32
MO     29
NC     29
IL     26
TN     24
VA     23
MI     22
AL     18
IA     18
SC     18
WI     16
AR     15
KY     15
LA     14
OK     14
PA     12
OH     11
IN     10
KS     10
ME      9
NE      9
WA      9
MD      8
OR      7
NM      6
ID      6
MN      4
MA      4
CO      3
RI      3
WV      3
MS      3
UT      3
WY      3
ON      2
PR      2
NH      2
VT      2
DC      2
CT      2
SD      1
MT      1
DE      1
HI      1
Name: stateOrProvince, dtype: int64

In [16]:
df.lotSizeUnit.value_counts()

squareFoot    900
Name: lotSizeUnit, dtype: int64

lotSizeUnit has same unit for all the rows so it will also not matter

In [17]:
df.listingTitle.value_counts()

Single Family Residential - Las Vegas, NV                                         17
Residential Land/Boat Docks - Other City - In The State Of Florida, FL            10
Residential Land/Boat Docks - Miami, FL                                            9
Vacant Land - St Bernard, LA                                                       8
Single Family Residence - Flint, MI                                                6
Residential Rental, Single Family - Las Vegas, NV                                  6
Single Family Residential - Henderson, NV                                          5
Residential Rental, Condo - Las Vegas, NV                                          5
Single Family Residential - Pahrump, NV                                            5
Single Family Detached, Ranch - East Dublin, GA                                    5
LSE-House - Lucas, TX                                                              4
Single Family Residential - North Las Vegas, NV                                    4
Residential Rental, Single Family - Henderson, NV                                  3
Residential, Ranch - Des Moines, IA                                                3
Condo/Co-op/Villa/Townhouse, Condo 5+ Stories - Miami Beach, FL                    3
Single Family Residence - TAMPA, FL                                                3
R30-no Pool/No Water, Single Family - Miami, FL                                    3
Condo/Co-op/Villa/Townhouse, Condo 5+ Stories - Aventura, FL                       3
Single Family Residence, Ranch - ST PETERSBURG, FL                                 3
Townhouse, Traditional - Basehor, KS                                               3
Single Family Detached, New Traditional - Houston, TX                              2
Condo - New York, NY                                                               2
Single Family Residence, Ranch/1.0 Story - Omaha, NE                               2
Hirise,Apartment,Simplex, Postwar - New York, NY                                   2
Single Family Detached, Traditional - Canton, GA                                   2
Single Family Residence - Jacksonville, NC                                         2
Single Family Res. - Visalia, CA                                                   2
Stick/Site Built - Greensboro, NC                                                  2
Single Family - Richmond, ME                                                       2
Residential, Santa Fe,Southwestern - Hereford, AZ                                  2
Single Family Residence, Florida - ST PETERSBURG, FL                               2
Single Family - Detached, Ranch - Phoenix, AZ                                      2
Traditional, Single Family - Kansas City, MO                                       2
Single Family Condo - Brooklyn, NY                                                 2
Condo/Co-op/Villa/Townhouse, Condo 5+ Stories - Miami, FL                          2
Apartment,UnitRent - Brooklyn, NY                                                  2
Ranch, House - Claremore, OK                                                       2
R30-no Pool/No Water, Single Family - Homestead, FL                                2
Pool Only, Single Family - Miami, FL                                               2
Condominium - Las Vegas, NV                                                        2
Single Family Coop - Bronx, NY                                                     2
LSE-House - Prosper, TX                                                            2
Residential Land/Boat Docks - West Palm Beach, FL                                  2
Single Family Residence - HOLIDAY, FL                                              2
Colonial, Detached - POTOMAC, MD                                                   2
Single Family Residence - Bakersfield, CA                                          2
2 Story - Charlotte, NC                                                            2
Traditional, Sngl. Fam.-Detached - JACKSONVILLE, FL                                2
Single Family Residence - Fresno, CA                                               2
Residential Rental, Condo/Co-op/Annual - Aventura, FL                              2
Single Family Residence, Ranch - Jenison, MI                                       2
RES-Single Family, Traditional - Lewisville, TX                                    2
Single Family - CAPE CORAL, FL                                                     2
Single Family Residence - Lake Havasu City, AZ                                     2
Condo - McCall, ID                                                                 2
Wf/No Ocean Access, Single Family - Tamarac, FL                                    2
Single Family - Ashland, KY                                                        2
Apartment,UnitRent - New York, NY                                                  2
Residential Rental, Townhouse/Villa-annual - Miami, FL                             2
Residential Land/Boat Docks - Deerfield Beach, FL                                  2
Residential, See Remarks - Elkhart, IA                                             1
Attached,End Unit,Townhouse, Condominium,Townhouse - Jackson, NJ                   1
Single Family - VESTAVIA HILLS, AL                                                 1
Traditional, Single Family - Seminole, OK                                          1
Single Family Residence, Cape - Waterboro, ME                                      1
Condo/Villa, Other - Lafayette, IN                                                 1
Single Family Residence, Ranch - Sahuarita, AZ                                     1
Residential, 2 Story - Duryea, PA                                                  1
Single Family Detached, Traditional - Demorest, GA                                 1
SINGLE_FAMILY - BRAZIL, IN                                                         1
Detached - BROADWAY, VA                                                            1
Cross Property - Springfield, OH                                                   1
Single Family - NORTH FORT MYERS, FL                                               1
Residential, Colonial - Bernards, NJ                                               1
Residential Rental, Single Family - North Las Vegas, NV                            1
1.00 Story, Att. Res, Condo, TH - Lincoln, NE                                      1
Two Story, Single Family - Camby, IN                                               1
LSE-House - Denton, TX                                                             1
Single Family Detached, Craftsman - McDonough, GA                                  1
Single Family - Plainfield, NJ                                                     1
Commercial - Carroll, IA                                                           1
Traditional, Site-Built Home - Muncie, IN                                          1
Victorian, Single Family - Candor, NY                                              1
Mobile Home, Single Family Attached - Vero Beach, FL                               1
2 Story,2 Up And Down - Green Bay, WI                                              1
Single Family - Scarborough, ME                                                    1
Single - Winnfield, LA                                                             1
Three Family - Bradley Beach, NJ                                                   1
Single Family Res. - Lemoore, CA                                                   1
Apartment - PLANT CITY, FL                                                         1
Single Family - FORT MYERS, FL                                                     1
Single Family Residence - North Topsail Beach, NC                                  1
Single Family Detached, Ranch - Dix Hills, NY                                      1
Ranch,Residential, Traditional - Jamestown, TN                                     1
Wf/No Ocean Access, Single Family - Homestead, FL                                  1
Two Story, Multi Unit 2 to 4 - Jamaica, NY                                         1
Ranch, Single Family,Detached - Toms River, NJ                                     1
Rural Residential, RANCH - Cheyenne, WY                                            1
Residential - Hoboken,, NJ                                                         1
Traditional, Single Family - Elgin, SC                                             1
Residential, Ranch - Shelby, NC                                                    1
Traditional, Single Family - Anderson, SC                                          1
Single Family - Detached, Santa Barbara/Tuscan - Goodyear, AZ                      1
Ranch, Detached - LIVERMORE, CA                                                    1
Single Family Residence - Menifee, CA                                              1
Mediterranean, Single Family Residence - Tucson, AZ                                1
Condominium, Multi Level Unit - JACKSONVILLE, FL                                   1
Condominium, Architectural,High or Mid-Rise Condo - Marina Del Rey, CA             1
2 Story - Oneonta, NY                                                              1
1 1/2 story, Contemporary - Fort Atkinson, WI                                      1
Residential, Colonial - St. James, NY                                              1
Single Family - BIRMINGHAM, AL                                                     1
Single Family Residence, Contemporary - Vail, AZ                                   1
Single House - Topeka, KS                                                          1
RESIDENTIAL, 1 STORY,SOUTHERN LIVING - CRANE HILL, AL                              1
Ranch - Southfield, MI                                                             1
Residential Land/Boat Docks - Miramar, FL                                          1
Single Family Detached, Ranch,Traditional - Sharpsburg, GA                         1
Single Family Attached - IRMO, SC                                                  1
Condo/Co-op/Villa/Townhouse - North Miami Beach, FL                                1
Condo/Co-op/Villa/Townhouse - North Lauderdale, FL                                 1
Single Family Attached, Contemporary - Jonesboro, GA                               1
Traditional, Sngl. Fam.-Detached - ORANGE PARK, FL                                 1
1.5 Story, Single Family - Osceola, MO                                             1
Residential, Ranch - Johnston, IA                                                  1
Transitional, Single Family Residence - Liberty Twp, OH                            1
Residential, 1 Level - Hixson, TN                                                  1
Cape Cod, Cross Property - Cicero, NY                                              1
Single Family Residence, Contemporary - TAMPA, FL                                  1
Mediterranean, Condominium - Palm Springs, CA                                      1
Traditional, Single Family - Shawnee, KS                                           1
Site-Built Home - Indianapolis, IN                                                 1
Single Family Residence, Traditional - Monroe, GA                                  1
Single Family Residence, 2 Stories - Fayetteville, NC                              1
Triplex - Stockton, CA                                                             1
Rental, Condo - FAYETTEVILLE, NC                                                   1
Single Family Residence - Hesperia, CA                                             1
Townhouse - LAKE MARY, FL                                                          1
Single Family - Douglas, GA                                                        1
Ranch,Traditional, Single Family Residence - COLUMBIA, MO                          1
Condo/Co-op/Villa/Townhouse, Condo 1-4 Stories - Other County - Not In Usa, NA     1
Transitional, Townhouse - Greensboro, NC                                           1
Multi Unit - Valdosta, GA                                                          1
Spanish,Traditional, Detached Single Family - TALLAHASSEE, FL                      1
2 Stories - CHICAGO, IL                                                            1
Single Family - RESTON, VA                                                         1
RES-Single Family - Euless, TX                                                     1
Detached - Vista, CA                                                               1
RES-Farm/Ranch - Jonesboro, TX                                                     1
Colonial, Detached - Lower Macungie, PA                                            1
Multi-Family Lot - Paragould, AR                                                   1
Studio Apartment                                                                   1
Residential, Colonial - Merrick, NY                                                1
Ranch, Site-Built Home - Plymouth, IN                                              1
Ranch, Detached - Chesterfield, VA                                                 1
1 Story, Single Family - Iron River, WI                                            1
Single Family Residence - WINDERMERE, FL                                           1
Low-Rise 2-3 Stories, Condo - North Myrtle Beach, SC                               1
Residential, Traditional,Ranch - St Clair, MO                                      1
Mfg/Mobile Housing - Chandler, AZ                                                  1
Single Family Residence, 1 1/2 Story - Frankfort, KY                               1
Multifamily, Traditional - Statesboro, GA                                          1
Colonial - Detroit, MI                                                             1
Ranch, House - Collinsville, OK                                                    1
Single Family - Newfield, ME                                                       1
Residential, Ranch,Single Level - Hereford, AZ                                     1
Colonial, Single Family - Arlington, VT                                            1
Townhouse, Residential - St Robert, MO                                             1
1 Story, Single Family Residence - Williamstown, KY                                1
Single Family Detached, 1850 - Frankfort NY, NY                                    1
Condo/Co-op/Villa/Townhouse, Condo 5+ Stories - Pompano Beach, FL                  1
More than 4 Units - Clarksville, TN                                                1
Low Rise (1-3) - BONITA SPRINGS, FL                                                1
Colonial, Single Family - Passaic City, NJ                                         1
Traditional, Detached - Corpus Christi, TX                                         1
Single Family Residence, Traditional - Hopkins, MI                                 1
Mobile Home - Santa Rosa, CA                                                       1
Single Family Residence, Bungalow - Portland, OR                                   1
1.5 Story,Exposed Basement, Contemporary - Mukwonago, WI                           1
2 Family - Rotterdam, NY                                                           1
Ranch - Detroit, MI                                                                1
Single Family Residence - Los Alamitos, CA                                         1
Single Family - Detached, Contemporary,Ranch - Phoenix, AZ                         1
Residential - North Port, FL                                                       1
Single Family - Detached, Ranch - Sun City West, AZ                                1
Residential, Contemporary - Arnold, MO                                             1
Flat,Residential Rental - CHICAGO, IL                                              1
Single Family Residence, Townhome - Vacaville, CA                                  1
Pueblo, Detached - Placitas, NM                                                    1
Condo/Co-op/Villa/Townhouse, Condo 5+ Stories - Surfside, FL                       1
Residential-Detached, 1 Story/Ranch - Loveland, CO                                 1
Split Level, Condominium - Audubon, IA                                             1
Residential Rental - SKOKIE, IL                                                    1
Single Family - Detached - Casa Grande, AZ                                         1
Detached Single Family, Traditional - Memphis, TN                                  1
Better Than New Cape on 4.71 Acres!                                                1
Residential Rental, Single Family-annual - Coral Springs, FL                       1
Traditional, Single Family - Yukon, OK                                             1
Single Family - MORRIS, AL                                                         1
Pool Only, Single Family - Palmetto Bay, FL                                        1
Single Family - Coachella, CA                                                      1
House - Bayam√≥n, PR                                                                1
Residential Lot - North Sewickley Twp, PA                                          1
Single Family - Basehor, KS                                                        1
Single Family - Detached, Santa Barbara/Tuscan - Gilbert, AZ                       1
2-Two Story, Under/Over, Multi-Family - Newark City, NJ                            1
Single Family - Falmouth, ME                                                       1
Duplex - Charleston, SC                                                            1
Pool Only, Single Family - Doral, FL                                               1
LSE-House, Traditional - Rowlett, TX                                               1
1.5 Story - De Pere, WI                                                            1
Mediterranean style center patio home has a nic...                                 1
Residential, Traditional - Wildwood, MO                                            1
Single Family Residence, Bungalow - PORT CHARLOTTE, FL                             1
Quadraplex - CAPE CORAL, FL                                                        1
Residential Rental - LOCKPORT, IL                                                  1
Hi-Rise 7+ Stories, Condo - North Myrtle Beach, SC                                 1
Single - PINEVILLE, LA                                                             1
Single Family Residence, Contemporary - DADE CITY, FL                              1
Single Family Detached, 1 Story - Melbourne, FL                                    1
Rental, 2 Story - El Paso, TX                                                      1
Doublewide, Manufactured - Max Meadows, VA                                         1
Townhouse, Colonial - MANASSAS, VA                                                 1
Single Family Detached, Country/Rustic - Newnan, GA                                1
Rental - Spring Hill, FL                                                           1
1 Story, Bungalow - Patoka, IL                                                     1
Single Family Residence, Traditional,2 Story - Vancouver, WA                       1
Site-Built Home, Traditional,Pole Barn - Cromwell, IN                              1
Condominium - LONGBOAT KEY, FL                                                     1
1 Story, Rental - El Paso, TX                                                      1
RES-Single Family, Traditional - Gruver, TX                                        1
Condo/Co-op/Villa/Townhouse, Condo 1-4 Stories - Hollywood, FL                     1
Condo - Stone Harbor, NJ                                                           1
Condominium - Ocala, FL                                                            1
Single Family Detached, Duplex - Staten Island, NY                                 1

in 900 data rows having 772 city will also not hamper the data

In [18]:
#Droping all the unnecessesory columns
df=df.drop(['fullStreetAddress','listingDescription','lotSizeUnit','unitNumber','geocodioAccuracyScore','listingTitle','city','country'],axis=1)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 900 entries, 0 to 899
Data columns (total 20 columns):
id                     900 non-null int64
postalCode             900 non-null object
stateOrProvince        899 non-null object
bathrooms              900 non-null int64
bedrooms               900 non-null int64
latitude               789 non-null float64
longitude              789 non-null float64
listPrice              900 non-null float64
livingArea             726 non-null float64
livingAreaUnit         900 non-null object
yearBuilt              791 non-null float64
lotSize                562 non-null float64
propertySubType        900 non-null object
listingCategory        900 non-null object
numParkingSpaces       460 non-null float64
createdAt              900 non-null object
photoscount            900 non-null int64
grade                  900 non-null object
favouritecount         900 non-null int64
collabprojectscount    900 non-null int64
dtypes: float64(7), int64(6), object(7)
memory usage: 147.7+ KB

In [20]:
#manually check the data
df.head(10)

        id postalCode stateOrProvince  bathrooms  bedrooms  latitude  longitude  listPrice  livingArea livingAreaUnit  yearBuilt    lotSize         propertySubType listingCategory  numParkingSpaces                   createdAt  photoscount    grade  favouritecount  collabprojectscount
0  2698139      63376              MO          6         5       NaN        NaN   425000.0      3046.0     squareFoot     1998.0        NaN  Single Family Detached        Purchase               3.0  2019-02-21 14:53:27.462+00           29  awesome               0                    0
1  2698093      63119              MO          2         3       NaN        NaN   175000.0      1587.0     squareFoot     1962.0    7753.68  Single Family Detached        Purchase               1.0   2019-02-21 14:53:07.92+00           29  awesome               0                    0
2  2698007      63021              MO          3         3       NaN        NaN   295000.0      2437.0     squareFoot     1986.0   14766.84             Condominium        Purchase               2.0  2019-02-21 14:52:30.126+00           29  awesome               0                    0
3  2697963      63021              MO          2         3       NaN        NaN   215000.0      1780.0     squareFoot     1969.0   11848.32  Single Family Detached        Purchase               2.0   2019-02-21 14:52:11.85+00           29  awesome               0                    0
4  2697938      63366              MO          4         4       NaN        NaN   375000.0      3405.0     squareFoot     2007.0   10890.00  Single Family Detached        Purchase               3.0  2019-02-21 14:51:55.495+00           29  awesome               0                    0
5  2697936      63011              MO          3         4       NaN        NaN   299900.0      1814.0     squareFoot     1999.0    6098.40  Single Family Detached        Purchase               2.0  2019-02-21 14:51:54.803+00           29  awesome               0                    0
6  2697845      63456              MO          1         2       NaN        NaN   140000.0      2800.0     squareFoot     2012.0  140176.08  Single Family Detached        Purchase               2.0  2019-02-21 14:51:05.514+00           29  awesome               0                    0
7  2697825      63624              MO          1         3       NaN        NaN    82500.0      1435.0     squareFoot     1954.0        NaN  Single Family Detached        Purchase               1.0  2019-02-21 14:50:54.169+00           29  awesome               0                    0
8  2697732      63104              MO          4         4       NaN        NaN   239900.0      2358.0     squareFoot     1903.0    2700.72  Single Family Detached        Purchase               2.0  2019-02-21 14:50:19.474+00           29  awesome               0                    0
9  2697716      63026              MO          3         3       NaN        NaN   239900.0      1524.0     squareFoot     1985.0    9583.20  Single Family Detached        Purchase               2.0  2019-02-21 14:49:34.972+00           29  awesome               0                    0

In [21]:
df.postalCode.value_counts()

70085         8
31027         5
89048         5
33185         5
66007         4
33139         4
33180         4
75002         4
89074         3
41101         3
33157         3
33322         3
8527          3
68022         3
33133         3
33876         3
83638         3
85615         3
89122         3
33705         3
34238         2
11040         2
18229         2
32826         2
90049         2
76034         2
33401         2
89123         2
63021         2
86406         2
71913         2
30252         2
89031         2
33015         2
89147         2
65203         2
33160         2
32065         2
89109         2
32259         2
89044         2
27332         2
32208         2
50320         2
11967         2
11101         2
89120         2
33154         2
89148         2
33165         2
33068         2
4357          2
11232         2
89011         2
33033         2
89081         2
33993         2
32773         2
75077         2
34691         2
11577         2
7030          2
33777         2
29582         2
75078         2
89052         2
20854         2
33913         2
10463         2
10128         2
89014         2
49428         2
28314         2
24360         2
33178         2
12946         2
85258         2
33027         2
54403         2
33071         2
33441         2
89131         2
33172         2
34134         2
85249         2
63366         2
8755          2
49426         1
82007         1
65584         1
93550         1
50266         1
92314         1
63104         1
29577         1
64701         1
1545          1
91206         1
30125         1
33617         1
37620         1
89129         1
48505-2411    1
33647         1
65202         1
76052         1
07202-3513    1
54873         1
45680         1
33440         1
94550         1
8243          1
30458         1
20653         1
89128         1
75076         1
94121         1
33021         1
33834         1
98665         1
2370          1
30114-5855    1
32225         1
54302         1
98626         1
35053         1
85641         1
92562         1
33703         1
11205         1
33810         1
32205         1
60612         1
30101         1
1612          1
27410         1
63376         1
97603         1
32550         1
60469         1
18080         1
85629         1
92084         1
60048         1
32724         1
60410         1
64804         1
40601         1
39452         1
74868         1
43220         1
89115         1
33626         1
95407         1
72032         1
78676         1
47909         1
89130         1
76538         1
66226         1
11691         1
98682         1
98155         1
64063         1
47130         1
4105          1
68333         1
11373         1
18642         1
50219         1
92203         1
75093         1
90292         1
85747         1
92262         1
26101         1
10304         1
83501         1
29032         1
61604         1
97525         1
60657         1
85395         1
47711         1
33069         1
21223         1
33756         1
12150         1
33016         1
07050-3213    1
28170         1
89061         1
L6X0P8        1
10704-3010    1
12189         1
98296         1
11746         1
40220         1
07060-4623    1
50131         1
13212         1
46563         1
30752         1
48224         1
41501         1
39845         1
29678         1
78572         1
38556         1
66618         1
32547         1
5855          1
49328         1
28540         1
32803         1
35630         1
75156         1
85122         1
66221         1
95210         1
34786         1
2806          1
44134         1
33569         1
82941         1
28273-0300    1
55068         1
30813         1
35055         1
29625         1
28205-6141    1
11412         1
22815         1
32920         1
28152         1
07106-1117    1
31525         1
6340          1
50023         1
76266         1
76028         1
10021         1
44095         1
15010         1
41301         1
11235         1
36576         1
29063         1
76040         1
46732         1
             ..
8247          1
8501          1
73501         1
33435         1
97302         1
7701          1
48505-5711    1
37040         1
93442         1
29445         1
33710         1
43138         1
49690         1
32162         1
32327-0000    1
33897         1
93737-9282    1
33319         1
60639         1
44709         1
30114         1
33952         1
4073          1
46221         1
85021         1
33603         1
11221         1
60622         1
30277         1
36110         1
13340         1
23605         1
74427         1
93292         1
93727-4523    1
33446         1
10312         1
13357         1
0             1
8260          1
85015         1
33132         1
76205         1
79040         1
73099         1
33331         1
85016         1
78744         1
30101-7867    1
30635         1
33434         1
92236         1
23060         1
18510         1
74074         1
16602         1
11354         1
47834         1
33328         1
37034         1
36203         1
13743         1
29045         1
42276         1
28546         1
32746         1
35079         1
28625-8707    1
50309         1
11722         1
85323         1
38485         1
50073         1
48158         1
5250          1
8203          1
14471         1
68025         1
74135         1
72396         1
33351         1
74133         1
35040         1
85050         1
37879         1
33707         1
28278-8881    1
4041          1
32934         1
78362         1
71601         1
88008         1
60482         1
71483         1
32726         1
50324         1
71360         1
37130         1
74019         1
33559         1
32084         1
33321         1
30248         1
4061          1
32608         1
28273-7707    1
60118         1
80917         1
74021         1
18067         1
92315         1
21401         1
48075         1
14086         1
72088         1
31535         1
54115-3312    1
78414         1
7920          1
37922         1
23666         1
8701          1
63026         1
97213         1
36069         1
62417         1
93306         1
70817         1
30062         1
84092         1
72210         1
89134         1
6331          1
90720         1
72120         1
78240-5247    1
75602         1
4074          1
60123         1
28303         1
29170         1
45011         1
34228         1
33563         1
37135         1
72450         1
68073         1
50265         1
30033-1309    1
49945         1
34287         1
48505-2412    1
8611          1
29154         1
32784         1
71909         1
28208-5133    1
49461         1
28562         1
78957         1
41056         1
55965         1
1607          1
48131         1
25311         1
32819         1
60156         1
23805         1
33954         1
97478         1
75056         1
33031         1
11357         1
32224         1
90501         1
13820         1
37920         1
23924         1
62864         1
32257         1
40741         1
36310         1
31047         1
89117         1
28582         1
86004         1
38128         1
28150         1
75126         1
30656         1
85392         1
98362         1
7740          1
21206         1
23435         1
54847         1
53209         1
85388         1
60441         1
93291         1
79903         1
87113         1
11211         1
72315         1
33076         1
34956         1
76207         1
76179         1
78087         1
46902         1
21213         1
75089         1
31206         1
2864          1
76642         1
60647         1
89178         1
11364         1
12159         1
07403-1814    1
48188         1
7746          1
29621         1
89119         1
20016         1
11356         1
97756         1
92549         1
40245         1
11226         1
43015         1
60077         1
60565         1
23434         1
22066         1
75789         1
92264         1
92345         1
7304          1
30135         1
32696         1
11566         1
72758         1
33634         1
97078         1
83301         1
7661          1
63077         1
75044         1
78539         1
Name: postalCode, Length: 778, dtype: int64

postal code is also of no use

In [22]:
df.livingAreaUnit.value_counts()

squareFoot    900
Name: livingAreaUnit, dtype: int64

livingAreaUnit is same for all the rows so not important

In [23]:
df.propertySubType.value_counts()#important

Single Family Detached    636
Condominium                81
Other                      65
Townhouse                  31
Single Family Attached     23
Apartment                  21
Duplex                     20
Mobile Home                 8
Manufactured Home           4
Timeshare                   3
Triplex                     2
Stock Cooperative           2
Farm                        2
Quadruplex                  2
Name: propertySubType, dtype: int64

In [24]:
df.listingCategory.value_counts()#important

Purchase    778
Rent        122
Name: listingCategory, dtype: int64

In [25]:
df.grade.value_counts()#important

good       301
awesome    300
bad        299
Name: grade, dtype: int64

In [26]:
#dropping the non important features
df=df.drop(['postalCode','livingAreaUnit','createdAt'],axis=1)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 900 entries, 0 to 899
Data columns (total 17 columns):
id                     900 non-null int64
stateOrProvince        899 non-null object
bathrooms              900 non-null int64
bedrooms               900 non-null int64
latitude               789 non-null float64
longitude              789 non-null float64
listPrice              900 non-null float64
livingArea             726 non-null float64
yearBuilt              791 non-null float64
lotSize                562 non-null float64
propertySubType        900 non-null object
listingCategory        900 non-null object
numParkingSpaces       460 non-null float64
photoscount            900 non-null int64
grade                  900 non-null object
favouritecount         900 non-null int64
collabprojectscount    900 non-null int64
dtypes: float64(7), int64(6), object(4)
memory usage: 126.6+ KB

In [28]:
df.head(10)

        id stateOrProvince  bathrooms  bedrooms  latitude  longitude  listPrice  livingArea  yearBuilt    lotSize         propertySubType listingCategory  numParkingSpaces  photoscount    grade  favouritecount  collabprojectscount
0  2698139              MO          6         5       NaN        NaN   425000.0      3046.0     1998.0        NaN  Single Family Detached        Purchase               3.0           29  awesome               0                    0
1  2698093              MO          2         3       NaN        NaN   175000.0      1587.0     1962.0    7753.68  Single Family Detached        Purchase               1.0           29  awesome               0                    0
2  2698007              MO          3         3       NaN        NaN   295000.0      2437.0     1986.0   14766.84             Condominium        Purchase               2.0           29  awesome               0                    0
3  2697963              MO          2         3       NaN        NaN   215000.0      1780.0     1969.0   11848.32  Single Family Detached        Purchase               2.0           29  awesome               0                    0
4  2697938              MO          4         4       NaN        NaN   375000.0      3405.0     2007.0   10890.00  Single Family Detached        Purchase               3.0           29  awesome               0                    0
5  2697936              MO          3         4       NaN        NaN   299900.0      1814.0     1999.0    6098.40  Single Family Detached        Purchase               2.0           29  awesome               0                    0
6  2697845              MO          1         2       NaN        NaN   140000.0      2800.0     2012.0  140176.08  Single Family Detached        Purchase               2.0           29  awesome               0                    0
7  2697825              MO          1         3       NaN        NaN    82500.0      1435.0     1954.0        NaN  Single Family Detached        Purchase               1.0           29  awesome               0                    0
8  2697732              MO          4         4       NaN        NaN   239900.0      2358.0     1903.0    2700.72  Single Family Detached        Purchase               2.0           29  awesome               0                    0
9  2697716              MO          3         3       NaN        NaN   239900.0      1524.0     1985.0    9583.20  Single Family Detached        Purchase               2.0           29  awesome               0                    0

In [36]:
df.isna().sum()

id                       0
stateOrProvince          1
bathrooms                0
bedrooms                 0
latitude               111
longitude              111
listPrice                0
livingArea               0
yearBuilt                0
lotSize                  0
propertySubType          0
listingCategory          0
numParkingSpaces         0
photoscount              0
grade                    0
favouritecount           0
collabprojectscount      0
dtype: int64

In [30]:
df.numParkingSpaces

0       3.0
1       1.0
2       2.0
3       2.0
4       3.0
5       2.0
6       2.0
7       1.0
8       2.0
9       2.0
10      0.0
11      3.0
12      0.0
13      0.0
14      0.0
15      1.0
16      0.0
17      1.0
18      2.0
19      1.0
20      0.0
21      0.0
22      0.0
23      1.0
24      1.0
25      4.0
26      2.0
27      1.0
28      1.0
29      1.0
30      2.0
31      2.0
32      0.0
33      1.0
34      2.0
35      0.0
36      2.0
37      2.0
38      0.0
39      2.0
40      1.0
41      1.0
42      1.0
43      NaN
44      NaN
45      NaN
46      NaN
47      NaN
48      NaN
49      NaN
50      NaN
51      NaN
52      NaN
53      NaN
54      NaN
55      NaN
56      NaN
57      NaN
58      NaN
59      NaN
60      NaN
61      NaN
62      NaN
63      NaN
64      NaN
65      NaN
66      NaN
67      NaN
68      NaN
69      NaN
70      NaN
71      NaN
72      NaN
73      NaN
74      NaN
75      NaN
76      NaN
77      NaN
78      NaN
79      NaN
80      NaN
81      NaN
82      NaN
83      NaN
84      NaN
85      NaN
86      NaN
87      NaN
88      NaN
89      NaN
90      2.0
91      2.0
92      3.0
93      3.0
94      3.0
95      3.0
96      3.0
97      3.0
98      0.0
99      2.0
100     2.0
101     8.0
102     1.0
103     NaN
104     3.0
105     1.0
106     NaN
107     2.0
108     NaN
109     NaN
110     NaN
111     NaN
112     2.0
113     NaN
114     1.0
115     NaN
116     3.0
117     2.0
118     NaN
119     3.0
120     NaN
121     NaN
122     NaN
123     2.0
124     2.0
125     NaN
126     NaN
127     NaN
128     NaN
129     NaN
130     2.0
131     NaN
132     NaN
133     0.0
134     0.0
135     4.0
136     NaN
137     2.0
138     1.0
139     NaN
140     2.0
141     3.0
142     2.0
143     NaN
144     1.0
145     NaN
146     1.0
147     NaN
148     NaN
149     NaN
150     NaN
151     NaN
152     4.0
153     1.0
154     2.0
155     1.0
156     2.0
157     2.0
158     NaN
159     NaN
160     NaN
161     NaN
162     NaN
163     NaN
164     NaN
165     2.0
166     NaN
167     NaN
168     NaN
169     NaN
170     NaN
171     1.0
172     NaN
173     1.0
174     NaN
175     2.0
176     NaN
177     NaN
178     NaN
179     0.0
180     2.0
181     NaN
182     NaN
183     0.0
184     2.0
185     0.0
186     0.0
187     NaN
188     NaN
189     0.0
190     0.0
191     2.0
192     2.0
193     NaN
194     NaN
195     NaN
196     NaN
197     NaN
198     3.0
199     NaN
200     NaN
201     0.0
202     4.0
203     2.0
204     1.0
205     3.0
206     NaN
207     NaN
208     NaN
209     2.0
210     2.0
211     2.0
212     1.0
213     NaN
214     0.0
215     2.0
216     3.0
217     NaN
218     NaN
219     NaN
220     NaN
221     1.0
222     2.0
223     NaN
224     2.0
225     2.0
226     2.0
227     2.0
228     NaN
229     1.0
230     1.0
231     2.0
232     NaN
233     1.0
234     NaN
235     NaN
236     2.0
237     NaN
238     NaN
239     1.0
240     3.0
241     2.0
242     2.0
243     3.0
244     NaN
245     0.0
246     1.0
247     2.0
248     NaN
249     NaN
       ...
650     1.0
651     NaN
652     NaN
653     NaN
654     NaN
655     NaN
656     NaN
657     NaN
658     NaN
659     NaN
660     2.0
661     NaN
662     NaN
663     NaN
664     NaN
665     NaN
666     NaN
667     1.0
668     NaN
669     NaN
670     NaN
671     3.0
672     3.0
673     3.0
674     0.0
675     0.0
676     0.0
677     2.0
678     0.0
679     0.0
680     0.0
681     0.0
682     3.0
683     1.0
684     2.0
685     2.0
686     2.0
687     3.0
688     4.0
689     2.0
690     2.0
691     1.0
692     2.0
693     4.0
694     NaN
695     NaN
696     NaN
697     NaN
698     NaN
699     NaN
700     NaN
701     NaN
702     NaN
703     NaN
704     NaN
705     NaN
706     2.0
707     2.0
708     NaN
709     2.0
710     NaN
711     NaN
712     1.0
713     2.0
714     NaN
715     NaN
716     NaN
717     4.0
718     NaN
719     NaN
720     NaN
721     1.0
722     2.0
723     1.0
724     2.0
725     1.0
726     2.0
727     1.0
728     2.0
729     9.0
730     1.0
731     0.0
732     NaN
733     NaN
734     NaN
735     NaN
736     0.0
737     2.0
738     2.0
739     NaN
740     3.0
741     NaN
742     NaN
743     NaN
744     2.0
745     2.0
746     2.0
747     NaN
748     2.0
749     NaN
750     NaN
751     1.0
752     1.0
753     6.0
754     NaN
755     2.0
756     2.0
757     2.0
758     2.0
759     2.0
760     2.0
761     2.0
762     2.0
763     3.0
764     2.0
765     4.0
766     NaN
767     2.0
768     2.0
769     NaN
770     NaN
771     NaN
772     NaN
773     NaN
774     NaN
775     NaN
776     NaN
777     NaN
778     NaN
779     NaN
780     NaN
781     NaN
782     NaN
783     NaN
784     NaN
785     NaN
786     2.0
787     1.0
788     NaN
789     NaN
790     NaN
791     NaN
792     NaN
793     NaN
794     NaN
795     NaN
796     NaN
797     NaN
798     2.0
799     NaN
800     NaN
801     NaN
802     NaN
803     NaN
804     NaN
805     NaN
806     NaN
807     NaN
808     NaN
809     NaN
810     NaN
811     1.0
812    12.0
813     NaN
814     NaN
815     NaN
816     0.0
817     1.0
818     2.0
819     NaN
820     NaN
821     NaN
822     NaN
823     NaN
824     4.0
825     NaN
826     NaN
827     NaN
828     NaN
829     4.0
830     NaN
831     NaN
832     2.0
833     2.0
834     NaN
835     NaN
836     NaN
837     2.0
838     NaN
839     NaN
840     3.0
841     1.0
842     NaN
843     1.0
844     0.0
845     3.0
846     3.0
847     NaN
848     NaN
849     4.0
850     NaN
851     0.0
852     NaN
853     NaN
854     2.0
855     2.0
856     2.0
857     1.0
858     1.0
859     1.0
860     1.0
861     0.0
862     0.0
863     0.0
864     0.0
865     1.0
866     0.0
867     0.0
868     0.0
869     0.0
870     0.0
871     0.0
872     1.0
873     0.0
874     1.0
875     0.0
876     0.0
877     0.0
878     0.0
879     0.0
880     0.0
881     2.0
882     0.0
883     0.0
884     0.0
885     5.0
886     0.0
887     0.0
888     0.0
889     0.0
890     0.0
891     0.0
892     0.0
893     0.0
894     0.0
895     1.0
896     0.0
897     0.0
898     2.0
899     0.0
Name: numParkingSpaces, Length: 900, dtype: float64

in case of parking spaces we can assume that if not given means not present so we will fill it with 0

In [31]:
df['numParkingSpaces'].fillna(0,inplace=True)

yearBuilt we can fill it with the mod of all the years as it should be around it

In [33]:
df['yearBuilt'].fillna(df.yearBuilt.mode,inplace=True)

lotside and living area can be considered as mean as it is the best option rather than excluding the rows

In [34]:
df['lotSize'].fillna(df.lotSize.mean,inplace=True)
df['livingArea'].fillna(df.livingArea.mean,inplace=True)