In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)

In [3]:
df1=pd.read_csv('CSV 1.csv')

df1.head()

        id        city country          fullStreetAddress postalCode stateOrProvince unitNumber  bathrooms  bedrooms                                 listingDescription                                       listingTitle  latitude  longitude  listPrice  livingArea livingAreaUnit  yearBuilt   lotSize lotSizeUnit         propertySubType listingCategory  numParkingSpaces                   createdAt  geocodioAccuracyScore  photoscount    grade
0  2698139   St Peters      US     12 Legacy Estates Lane      63376              MO        NaN          6         5  Tucked away in the private Legacy Estates subd...           Residential, Traditional - St Peters, MO       NaN        NaN   425000.0      3046.0     squareFoot     1998.0       NaN  squareFoot  Single Family Detached        Purchase               3.0  2019-02-21 14:53:27.462+00                    NaN           29  awesome
1  2698093    St Louis      US          222 Euclid Avenue      63119              MO        NaN          2         3  This charming Ranch offers hardwood flooring o...      Residential, Traditional,Ranch - St Louis, MO       NaN        NaN   175000.0      1587.0     squareFoot     1962.0   7753.68  squareFoot  Single Family Detached        Purchase               1.0   2019-02-21 14:53:07.92+00                    NaN           29  awesome
2  2698007     Ballwin      US  741 Woodside Trails Drive      63021              MO        NaN          3         3  This is the LARGEST Villa-style condo in this ...             Traditional,Ranch, Condo - Ballwin, MO       NaN        NaN   295000.0      2437.0     squareFoot     1986.0  14766.84  squareFoot             Condominium        Purchase               2.0  2019-02-21 14:52:30.126+00                    NaN           29  awesome
3  2697963  Manchester      US           301 Wembley Lane      63021              MO        NaN          2         3  Over 1700 sq ft of updated living space in con...  Traditional,Split Foyer, Residential - Manches...       NaN        NaN   215000.0      1780.0     squareFoot     1969.0  11848.32  squareFoot  Single Family Detached        Purchase               2.0   2019-02-21 14:52:11.85+00                    NaN           29  awesome
4  2697938    O'fallon      US           27 Clear Meadows      63366              MO        NaN          4         4  Move in ready, excellent condition. Outstandin...            Residential, Traditional - O'Fallon, MO       NaN        NaN   375000.0      3405.0     squareFoot     2007.0  10890.00  squareFoot  Single Family Detached        Purchase               3.0  2019-02-21 14:51:55.495+00                    NaN           29  awesome

Address and listing description is of no use in classification

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 26 columns):
id                       900 non-null int64
city                     900 non-null object
country                  900 non-null object
fullStreetAddress        900 non-null object
postalCode               900 non-null object
stateOrProvince          899 non-null object
unitNumber               118 non-null object
bathrooms                900 non-null int64
bedrooms                 900 non-null int64
listingDescription       842 non-null object
listingTitle             900 non-null object
latitude                 789 non-null float64
longitude                789 non-null float64
listPrice                900 non-null float64
livingArea               726 non-null float64
livingAreaUnit           900 non-null object
yearBuilt                791 non-null float64
lotSize                  562 non-null float64
lotSizeUnit              900 non-null object
propertySubType          900 non-null object
listingCategory          900 non-null object
numParkingSpaces         460 non-null float64
createdAt                900 non-null object
geocodioAccuracyScore    27 non-null float64
photoscount              900 non-null int64
grade                    900 non-null object
dtypes: float64(8), int64(4), object(14)
memory usage: 182.9+ KB

In [5]:
df2=pd.read_csv('CSV 2.csv')

df2.head()

        id  favouritecount
0  2698139               0
1  2698093               0
2  2698007               0
3  2697963               0
4  2697938               0

In [6]:
df3=pd.read_csv('CSV 3.csv')

df3.head()

        id  collabprojectscount
0  2698139                    0
1  2698093                    0
2  2698007                    0
3  2697963                    0
4  2697938                    0

In [7]:
df=df1.merge(df2,how='left',on=['id'])#merging the data of csv2 wrt csv1

In [8]:
df=df.merge(df3,how='left',on=['id'])#merging the data of csv3 wrt csv1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 900 entries, 0 to 899
Data columns (total 28 columns):
id                       900 non-null int64
city                     900 non-null object
country                  900 non-null object
fullStreetAddress        900 non-null object
postalCode               900 non-null object
stateOrProvince          899 non-null object
unitNumber               118 non-null object
bathrooms                900 non-null int64
bedrooms                 900 non-null int64
listingDescription       842 non-null object
listingTitle             900 non-null object
latitude                 789 non-null float64
longitude                789 non-null float64
listPrice                900 non-null float64
livingArea               726 non-null float64
livingAreaUnit           900 non-null object
yearBuilt                791 non-null float64
lotSize                  562 non-null float64
lotSizeUnit              900 non-null object
propertySubType          900 non-null object
listingCategory          900 non-null object
numParkingSpaces         460 non-null float64
createdAt                900 non-null object
geocodioAccuracyScore    27 non-null float64
photoscount              900 non-null int64
grade                    900 non-null object
favouritecount           900 non-null int64
collabprojectscount      900 non-null int64
dtypes: float64(8), int64(6), object(14)
memory usage: 203.9+ KB

In [10]:
df.isna().sum()/len(df)

id                       0.000000
city                     0.000000
country                  0.000000
fullStreetAddress        0.000000
postalCode               0.000000
stateOrProvince          0.001111
unitNumber               0.868889
bathrooms                0.000000
bedrooms                 0.000000
listingDescription       0.064444
listingTitle             0.000000
latitude                 0.123333
longitude                0.123333
listPrice                0.000000
livingArea               0.193333
livingAreaUnit           0.000000
yearBuilt                0.121111
lotSize                  0.375556
lotSizeUnit              0.000000
propertySubType          0.000000
listingCategory          0.000000
numParkingSpaces         0.488889
createdAt                0.000000
geocodioAccuracyScore    0.970000
photoscount              0.000000
grade                    0.000000
favouritecount           0.000000
collabprojectscount      0.000000
dtype: float64

unitNumber and geocodioAccuracyScore are of no use as they have huge nulls

In [11]:
df.select_dtypes(exclude='object').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 900 entries, 0 to 899
Data columns (total 14 columns):
id                       900 non-null int64
bathrooms                900 non-null int64
bedrooms                 900 non-null int64
latitude                 789 non-null float64
longitude                789 non-null float64
listPrice                900 non-null float64
livingArea               726 non-null float64
yearBuilt                791 non-null float64
lotSize                  562 non-null float64
numParkingSpaces         460 non-null float64
geocodioAccuracyScore    27 non-null float64
photoscount              900 non-null int64
favouritecount           900 non-null int64
collabprojectscount      900 non-null int64
dtypes: float64(8), int64(6)
memory usage: 105.5 KB

In [12]:
df.select_dtypes(include='object').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 900 entries, 0 to 899
Data columns (total 14 columns):
city                  900 non-null object
country               900 non-null object
fullStreetAddress     900 non-null object
postalCode            900 non-null object
stateOrProvince       899 non-null object
unitNumber            118 non-null object
listingDescription    842 non-null object
listingTitle          900 non-null object
livingAreaUnit        900 non-null object
lotSizeUnit           900 non-null object
propertySubType       900 non-null object
listingCategory       900 non-null object
createdAt             900 non-null object
grade                 900 non-null object
dtypes: object(14)
memory usage: 105.5+ KB

### inspecting object type data

In [13]:
df.country.value_counts()

US    897
CA      2
PR      1
Name: country, dtype: int64

country is of no use because all of them except 3 are from same country so it nust not create any difference

In [14]:
df.city.value_counts()

Las Vegas                               31
Miami                                   23
Other City - In The State Of Florida    10
Henderson                                9
St Bernard                               8
New York                                 8
Brooklyn                                 7
Pahrump                                  6
JACKSONVILLE                             6
Flint                                    6
CHICAGO                                  6
Aventura                                 5
East Dublin                              5
North Las Vegas                          5
Miami Beach                              5
ST PETERSBURG                            5
Charlotte                                5
Des Moines                               4
Coral Springs                            4
Henrico                                  4
Basehor                                  4
Canton                                   4
Lucas                                    4
Phoenix                                  4
Atlanta                                  4
TAMPA                                    4
Sanford                                  3
BALTIMORE                                3
Hereford                                 3
El Paso                                  3
Greensboro                               3
CAPE CORAL                               3
Springfield                              3
Homestead                                3
Staten Island                            3
Lewisville                               3
Jackson                                  3
Ashland                                  3
Sunrise                                  3
St Louis                                 3
McCall                                   3
Richmond                                 3
Omaha                                    3
Hialeah                                  3
Los Angeles (City)                       3
Little Rock                              3
Jamaica                                  3
Bronx                                    3
Anderson                                 2
HOLIDAY                                  2
Sayreville                               2
PORT CHARLOTTE                           2
Marietta                                 2
SARASOTA                                 2
ORANGE PARK                              2
Houston                                  2
Scottsdale                               2
McDonough                                2
Wausau                                   2
Tulsa                                    2
Knoxville                                2
HotSprings                               2
Avondale                                 2
Flushing                                 2
Prosper                                  2
Charleston                               2
North Myrtle Beach                       2
ORLANDO                                  2
Manchester                               2
Davie                                    2
Queens                                   2
Albuquerque                              2
Glendale                                 2
Rowlett                                  2
Acworth                                  2
Tamarac                                  2
COLUMBIA                                 2
Vancouver                                2
Pikeville                                2
West Palm Beach                          2
Colleyville                              2
Rockwood                                 2
SANFORD                                  2
Fayetteville                             2
Decatur                                  2
Orlando                                  2
SEMINOLE                                 2
Lake Placid                              2
Fresno                                   2
Miramar                                  2
Trenton                                  2
Denton                                   2
Max Meadows                              2
Allen                                    2
Shelby                                   2
Detroit                                  2
Lake Havasu City                         2
North Lauderdale                         2
BROADWAY                                 2
Kansas City                              2
POTOMAC                                  2
Toms River                               2
Suffolk                                  2
Ankeny                                   2
Chandler                                 2
Deerfield Beach                          2
Cheyenne                                 2
Palm Springs                             2
WASHINGTON                               2
Claremore                                2
Jonesboro                                2
Conway                                   2
TALLAHASSEE                              2
Virginia Beach                           2
FAYETTEVILLE                             2
Louisville                               2
Visalia                                  2
Tucson                                   2
Jim Thorpe                               2
Jacksonville                             2
Bakersfield                              2
Jenison                                  2
Independence                             2
LAKELAND                                 2
Derby                                    1
Petersburg                               1
Milwaukee                                1
Audubon                                  1
Brunswick                                1
Memphis                                  1
Chippewa Falls                           1
CHANNAHON                                1
Austin                                   1
North Miami Beach                        1
De Pere                                  1
NORTH FORT MYERS                         1
Murfreesboro                             1
Elizabeth City                           1
PINEVILLE                                1
Red Bank                                 1
ANNAPOLIS                                1
Paragould                                1
Fort Walton Beach                        1
Rio Rancho                               1
Garland                                  1
Bloomingdale Boro                        1
Ingleside                                1
Eight Mile                               1
Carroll                                  1
Morro Bay                                1
Valdosta                                 1
Clinton                                  1
Maricopa                                 1
Sahuarita                                1
Warren                                   1
Cedartown                                1
Columbus                                 1
Kevil                                    1
Derry                                    1
River Edge                               1
Collinsville                             1
Delaware                                 1
Pine Bluff                               1
Huntersville                             1
St Robert                                1
Miami Gardens                            1
Tyler                                    1
federal way                              1
CLERMONT                                 1
Dundee                                   1
Lyman                                    1
Yukon                                    1
Stone Harbor                             1
Vandalia                                 1
City Of Orange Twp.                      1
Bayside                                  1
Clarksville                              1
Groesbeck                                1
Pioche                                   1
Portland                                 1
TEMPLE TERRACE                           1
Hopkins                                  1
Saginaw                                  1
North Richland Hills                     1
Macon                                    1
Plaquemine                               1
Sarasota                                 1
Manhasset Hills                          1
St George                                1
Dothan                                   1
O'Fallon                                 1
Shrewsbury                               1
Pella                                    1
Spokane                                  1
Overland Park                            1
Marlboro                                 1
Fort Atkinson                            1
St. Andrew West                          1
Elgin                                    1
Ketchum                                  1
Casa Grande                              1
Orchard Park                             1
Waterboro                                1
Parma                                    1
Spring Hill                              1
Lafollette                               1
BONITA SPRINGS                           1
Blytheville                              1
Chicago                                  1
Monroe City                              1
Albany                                   1
Waynesboro                               1
MIDDLETOWN                               1
Nashville                                1
Earlham                                  1
Oklahoma City                            1
Rindge                                   1
Jamestown                                1
Groton                                   1
Vero Beach                               1
Rogers                                   1
Jupiter                                  1
Brock                                    1
Jersey City                              1
San Francisco                            1
Klamath Falls                            1
Stella                                   1
Cape Canaveral                           1
Bayamón                                  1
Billings                                 1
Wildwood Crest                           1
SPRING HILL                              1
POSEN                                    1
Seminole                                 1
Burleson                                 1
LAKE MARY                                1
Russellville                             1
Sharpsburg                               1
Sherwood                                 1
Cerritos                                 1
Douglas                                  1
Cookson                                  1
Gainesville                              1
Chase City                               1
Bay Harbor Islands                       1
ELLICOTT CITY                            1
Windsor Heights                          1
Stratford                                1
SKOKIE                                   1
Enfield                                  1
                                        ..
NAPERVILLE                               1
Powder Springs                           1
Canterbury                               1
Wimberley                                1
Rockland                                 1
Gold Hill                                1
Long Branch                              1
Big Bear Lake                            1
Waupaca                                  1
MONTGOMERY                               1
farrockaway                              1
Flagstaff                                1
Hoboken,                                 1
North Port                               1
Winnfield                                1
South Point                              1
Pegram                                   1
Barrington                               1
Pueblo                                   1
Newport City                             1
Grovetown                                1
Kernersville                             1
Oneida                                   1
Lafayette                                1
Osceola                                  1
Duluth                                   1
Elkhart                                  1
THE VILLAGES                             1
Sun City                                 1
Oro Valley                               1
Oceanside                                1
Big Bear                                 1
Boynton Beach                            1
Edinburg                                 1
LAKE IN THE HILLS                        1
Mukwonago                                1
Mount Vernon                             1
Crete                                    1
Flatonia                                 1
Yankton                                  1
Cumberland                               1
College Station                          1
Sumter                                   1
BRAZIL                                   1
Worcester                                1
HALLSVILLE                               1
Euless                                   1
Dallas                                   1
Gruver                                   1
Beaverton                                1
Newport News                             1
San Antonio                              1
Newnan                                   1
Medley                                   1
Bernards                                 1
CLEARWATER                               1
Gaylord                                  1
Fort Lauderdale                          1
Frankfort                                1
Lake Ariel                               1
Fremont                                  1
WAUKEGAN                                 1
Boca Raton                               1
OXFORD                                   1
Plano                                    1
Coachella                                1
Brentwood                                1
Menifee                                  1
Green Bay                                1
Cromwell                                 1
East Orange City                         1
Indianapolis                             1
Donalsonville                            1
Kathleen                                 1
Newfield                                 1
Stockton                                 1
Gun Barrel City                          1
Rosemount                                1
Cedar Rapids                             1
Yutan                                    1
Bradley Beach                            1
JC, Bergen-Lafayett                      1
Vista                                    1
Coon Rapids                              1
Twin Falls                               1
EAST DUNDEE                              1
Lagrange                                 1
Santa Rosa                               1
North Whitehall                          1
Bristol                                  1
Victoria                                 1
BIRMINGHAM                               1
Iron River                               1
Oshkosh                                  1
Barnes                                   1
Hixson                                   1
Leakesville                              1
Oneonta                                  1
Dubuque                                  1
Hudsonville                              1
Beechhurst                               1
Kokomo                                   1
CRAWFORDVILLE                            1
Sun City West                            1
Idyllwild                                1
Vacaville                                1
ST JOHNS                                 1
BRAMPTON                                 1
Statesboro                               1
ELGIN                                    1
Chesnee                                  1
Liberty Twp                              1
Lynchburg                                1
Chapel Hill                              1
Ballwin                                  1
East Hills                               1
Yorkville                                1
Miramar Beach                            1
Chattahoochee Hills                      1
Indian Town                              1
Gilbert                                  1
Paxton                                   1
Deer Isle                                1
Duryea                                   1
Lawton                                   1
Deatsville                               1
Mclean                                   1
Surfside                                 1
Ocala                                    1
Lemoore                                  1
Healdton                                 1
Yonkers                                  1
DAVENPORT                                1
Elkins                                   1
Mt. Vernon                               1
Torrance                                 1
Scarborough                              1
Mullens                                  1
Hendersonville                           1
Lewiston                                 1
Horseheads                               1
Traverse City                            1
Los Alamitos                             1
Fenton                                   1
Libertyville                             1
Muncie                                   1
Gastonia                                 1
Lower Macungie                           1
Hampton                                  1
Ithaca                                   1
Sparta                                   1
Forney                                   1
New Bern                                 1
Seneca                                   1
Shreveport                               1
Yakima                                   1
Murrieta                                 1
Hollywood                                1
Gatlinburg                               1
Arnold                                   1
Hot Springs Vill.                        1
Colorado Springs                         1
Statesville                              1
Atlantic City                            1
RESTON                                   1
North Sewickley Twp                      1
Palmdale                                 1
Longboat Key                             1
Eastlake                                 1
Goose Creek                              1
Central Islip                            1
Smithville                               1
Lucedale                                 1
Pinedale                                 1
PARKERSBURG                              1
Plant City                               1
Bermuda Dunes                            1
Kodak                                    1
LAKE LINDEN                              1
Lake Forest Park                         1
Troup                                    1
Hiram                                    1
Rotterdam                                1
Coconut Grove                            1
New Hyde Park                            1
Altoona                                  1
PALM HARBOR                              1
Nolensville                              1
South Hill                               1
Frisco                                   1
Passaic City                             1
Bellevue                                 1
Sunny Isles Beach                        1
Surprise                                 1
Silverhill                               1
Fairfield Bay                            1
West Columbia                            1
Plantation                               1
Venice                                   1
Candor                                   1
Sierra Vista                             1
Port Charlotte                           1
Lincoln                                  1
O'fallon                                 1
Allentown                                1
Topeka                                   1
Hon.                                     1
Metairie                                 1
North Topsail Beach                      1
Merrick                                  1
Southfield                               1
LONGVIEW                                 1
Philadelphia                             1
Clive                                    1

in 900 data rows having 620 city will also not hamper the data

In [15]:
df.stateOrProvince.value_counts()

FL    166
NY     64
NV     53
TX     51
GA     43
NJ     36
CA     34
AZ     32
MO     29
NC     29
IL     26
TN     24
VA     23
MI     22
IA     18
SC     18
AL     18
WI     16
AR     15
KY     15
OK     14
LA     14
PA     12
OH     11
KS     10
IN     10
NE      9
ME      9
WA      9
MD      8
OR      7
NM      6
ID      6
MN      4
MA      4
CO      3
WY      3
UT      3
WV      3
MS      3
RI      3
DC      2
NH      2
CT      2
VT      2
PR      2
ON      2
DE      1
SD      1
HI      1
MT      1
Name: stateOrProvince, dtype: int64

In [16]:
df.lotSizeUnit.value_counts()

squareFoot    900
Name: lotSizeUnit, dtype: int64

lotSizeUnit has same unit for all the rows so it will also not matter

In [17]:
df.listingTitle.value_counts()

Single Family Residential - Las Vegas, NV                                         17
Residential Land/Boat Docks - Other City - In The State Of Florida, FL            10
Residential Land/Boat Docks - Miami, FL                                            9
Vacant Land - St Bernard, LA                                                       8
Residential Rental, Single Family - Las Vegas, NV                                  6
Single Family Residence - Flint, MI                                                6
Single Family Residential - Henderson, NV                                          5
Single Family Detached, Ranch - East Dublin, GA                                    5
Single Family Residential - Pahrump, NV                                            5
Residential Rental, Condo - Las Vegas, NV                                          5
LSE-House - Lucas, TX                                                              4
Single Family Residential - North Las Vegas, NV                                    4
Single Family Residence - TAMPA, FL                                                3
Condo/Co-op/Villa/Townhouse, Condo 5+ Stories - Miami Beach, FL                    3
Single Family Residence, Ranch - ST PETERSBURG, FL                                 3
Townhouse, Traditional - Basehor, KS                                               3
Residential Rental, Single Family - Henderson, NV                                  3
Condo/Co-op/Villa/Townhouse, Condo 5+ Stories - Aventura, FL                       3
R30-no Pool/No Water, Single Family - Miami, FL                                    3
Residential, Ranch - Des Moines, IA                                                3
Single Family - Richmond, ME                                                       2
Wf/No Ocean Access, Single Family - Tamarac, FL                                    2
Single Family Condo - Brooklyn, NY                                                 2
Single Family Res. - Visalia, CA                                                   2
Condo - New York, NY                                                               2
Single Family Residence, Ranch - Jenison, MI                                       2
Apartment,UnitRent - Brooklyn, NY                                                  2
Hirise,Apartment,Simplex, Postwar - New York, NY                                   2
Single Family Detached, Traditional - Canton, GA                                   2
Residential Land/Boat Docks - Deerfield Beach, FL                                  2
R30-no Pool/No Water, Single Family - Homestead, FL                                2
Single Family Residence - Bakersfield, CA                                          2
Single Family Coop - Bronx, NY                                                     2
Condominium - Las Vegas, NV                                                        2
Single Family - CAPE CORAL, FL                                                     2
Single Family Residence, Ranch/1.0 Story - Omaha, NE                               2
RES-Single Family, Traditional - Lewisville, TX                                    2
Pool Only, Single Family - Miami, FL                                               2
Single Family Residence - HOLIDAY, FL                                              2
Apartment,UnitRent - New York, NY                                                  2
Single Family Residence, Florida - ST PETERSBURG, FL                               2
Single Family Residence - Jacksonville, NC                                         2
Condo/Co-op/Villa/Townhouse, Condo 5+ Stories - Miami, FL                          2
Single Family - Ashland, KY                                                        2
Single Family - Detached, Ranch - Phoenix, AZ                                      2
Stick/Site Built - Greensboro, NC                                                  2
Residential, Santa Fe,Southwestern - Hereford, AZ                                  2
Residential Land/Boat Docks - West Palm Beach, FL                                  2
Traditional, Single Family - Kansas City, MO                                       2
Single Family Detached, New Traditional - Houston, TX                              2
Traditional, Sngl. Fam.-Detached - JACKSONVILLE, FL                                2
Ranch, House - Claremore, OK                                                       2
2 Story - Charlotte, NC                                                            2
Residential Rental, Condo/Co-op/Annual - Aventura, FL                              2
Single Family Residence - Lake Havasu City, AZ                                     2
Residential Rental, Townhouse/Villa-annual - Miami, FL                             2
LSE-House - Prosper, TX                                                            2
Condo - McCall, ID                                                                 2
Single Family Residence - Fresno, CA                                               2
Colonial, Detached - POTOMAC, MD                                                   2
Condo - LISLE, IL                                                                  1
Traditional,Ranch, Residential Single Family - HotSprings, AR                      1
Site-Built Home, Bungalow - Kokomo, IN                                             1
Traditional,Ranch, Condo - Ballwin, MO                                             1
Single Family Detached, Traditional - Marietta, GA                                 1
Single Family Attached, Contemporary - Jonesboro, GA                               1
Rental Home, Apt In House - College Point, NY                                      1
Residential - Jim Thorpe, PA                                                       1
Residential, Ranch - Shirley, NY                                                   1
Condo/Co-op/Villa/Townhouse, Condo 5+ Stories - Surfside, FL                       1
1.5 Story, Residential - Ankeny, IA                                                1
Contemporary/Modern,Traditional, RES-Single Family - Pottsboro, TX                 1
3 or More Stories, One Floor Unit - East Orange City, NJ                           1
Single Family Attached - Sanford, NC                                               1
Ranch, Condo/Zero Lot - Cedar Rapids, IA                                           1
Single Family Detached, 1087 - Central Islip, NY                                   1
Townhouse, End of Row/Townhouse - BALTIMORE, MD                                    1
Single Family Detached, Bungalow/Cottage - Decatur, GA                             1
Single Family - FORT MYERS, FL                                                     1
Traditional, Single Family - Shawnee, KS                                           1
Condo - Queens, NY                                                                 1
Both Halves,Row/Townhouse - Jim Thorpe, PA                                         1
Ranch, House - Cookson, OK                                                         1
Single Family Residence, 2 Story - Manchester, MI                                  1
SINGLE_FAMILY - MONTGOMERY, AL                                                     1
Residential Rental - SKOKIE, IL                                                    1
Single Family Residence, Traditional,2 Story - Beaverton, OR                       1
2 Stories - CHICAGO, IL                                                            1
Condo - PALATINE, IL                                                               1
Single Family - South Point, OH                                                    1
Transitional, Single Family - Virginia Beach, VA                                   1
Multi-Family - Hon., HI                                                            1
Single Family Detached, Country/Rustic - Newnan, GA                                1
Single Family Attached - Albany, NY                                                1
LSE-House - Allen, TX                                                              1
Single Family Residence, Traditional - Monroe, GA                                  1
Traditional, Manuf/Mobile Home - CRAWFORDVILLE, FL                                 1
Lakefront Single Family, Contemporary - HotSprings, AR                             1
Residential Rental, Single Family - North Las Vegas, NV                            1
Single - PINEVILLE, LA                                                             1
Single Family Residence, Bungalow,Traditional - Cedartown, GA                      1
Single Family Residence, Other - ORLANDO, FL                                       1
Two Story, Single Family - Sea Isle City, NJ                                       1
Residential, Ranch - FAYETTEVILLE, NC                                              1
Res Investment, Bungalow - Shelby, NC                                              1
Single Family Detached, Craftsman - McDonough, GA                                  1
Condo/Co-op/Villa/Townhouse, Condo 1-4 Stories - Other County - Not In Usa, NA     1
Residential, Traditional,Ranch - Bismarck, MO                                      1
Mfd/Mobile Home/Land, 1 Story,Ranch - Bridgeport, IL                               1
Detached - BROADWAY, VA                                                            1
Single Family Residence, Traditional - Hopkins, MI                                 1
1 Story - Brussels, WI                                                             1
Residential, Colonial - Bernards, NJ                                               1
Ranch, Single Family - Campton, KY                                                 1
1.00 Story, Att. Res, Condo, TH - Lincoln, NE                                      1
Ranch,Traditional, Single Family Residence - COLUMBIA, MO                          1
Site Built - Murfreesboro, TN                                                      1
Ranch, Single Family,Detached - Toms River, NJ                                     1
Condo/Co-op/Villa/Townhouse, Condo 1-4 Stories - Hollywood, FL                     1
Ranch, Single Family - Knoxville, TN                                               1
Duplex - Avondale, AZ                                                              1
Single Family Residence,Single Family,1.25 - 1.75 Story - Single Family            1
Ranch - Redford, MI                                                                1
Single Family - Detached - Sun City, AZ                                            1
Ranch, Detached - LIVERMORE, CA                                                    1
Residential Rental - WAUKEGAN, IL                                                  1
Single Family Residence, Traditional - Louisville, KY                              1
Craftsman, Residential Detached - Silverhill, AL                                   1
2-Story,Colonial, Detached - Henrico, VA                                           1
Townhouse - Contemporary,Territorial/Santa Fe,Santa Barbara/Tuscan                 1
Transitional, Rental,Single Family - Virginia Beach, VA                            1
Low Rise (1-3) - BONITA SPRINGS, FL                                                1
2 Story,2 Up And Down - Green Bay, WI                                              1
LSE-House - Garland, TX                                                            1
Single Family Residential - Wynne, AR                                              1
Fractional Timeshare - McCall, ID                                                  1
Multi-Unit, Apartment Complex - Maysville, KY                                      1
2 Flat - ELGIN, IL                                                                 1
2 Story,Colonial, Cross Property - Lancaster, NY                                   1
Single Family Residence, Ranch/1.0 Story - Yutan, NE                               1
Detached, Single Family - MIDDLETOWN, DE                                           1
Single - Winnfield, LA                                                             1
Detached,Detached Residential, Traditional,Transitional - Suffolk, VA              1
Single Family Coop - Brooklyn, NY                                                  1
1.5 Story - Dale, WI                                                               1
1 Story, Bungalow - Patoka, IL                                                     1
Colonial - Long Branch, NJ                                                         1
Ranch, Residential w/Acres - Yankton, SD                                           1
New mountain modern luxury home with 4 bedrooms...                                 1
1 Story - Bristol, TN                                                              1
Residential - Port Charlotte, FL                                                   1
Townhouse, Traditional - WASHINGTON, DC                                            1
Ranch, Residential Detached - Douglasville, GA                                     1
Single Family Residence, Ranch - CLEARWATER, FL                                    1
Apartment - Providence, RI                                                         1
Site Built - Hendersonville, TN                                                    1
2-Story, Single Family - Alta, UT                                                  1
Single Family Residence - Big Bear, CA                                             1
Colonial, Detached - Henrico, VA                                                   1
Single Family - Basehor, KS                                                        1
Detached Single Family, Traditional Style - Baton Rouge, LA                        1
Ranch, Single Family - New Scotland TOV, NY                                        1
Low Rise,Mid Century, Condominium - Glendale, CA                                   1
Condominium, Florida - SEMINOLE, FL                                                1
RES-Single Family - Euless, TX                                                     1
Single Family - Coachella, CA                                                      1
Residential, Condo - Flushing, NY                                                  1
Single Family Residence, 2 Story,NW Contemporary - Redmond, OR                     1
Sngl. Fam.-Detached - ORANGE PARK, FL                                              1
Residential Lot - North Sewickley Twp, PA                                          1
1 Story, Rental - El Paso, TX                                                      1
2 Story, Cross Property - Orchard Park, NY                                         1
Manufactured Home - RIVERVIEW, FL                                                  1
Residential, Colonial - North Brunswick, NJ                                        1
Cape Cod - Dundee, MI                                                              1
Multifamily, Traditional - Statesboro, GA                                          1
Residential, Colonial - St. James, NY                                              1
Mobile Home - Carthage, NC                                                         1
Site Built, Contemporary - Nolensville, TN                                         1
1 Story, Ranch - Charlotte, NC                                                     1
Residential - ANNAPOLIS, MD                                                        1
Residential, Contemporary - Arnold, MO                                             1
SINGLE_FAMILY - PARKERSBURG, WV                                                    1
Split Level, Tri-Level - POSEN, IL                                                 1
Residential, Colonial - Elberton, GA                                               1
2 Stories, Contemporary - LAKE IN THE HILLS, IL                                    1
Split Entry, Single Family Residence - Omaha, NE                                   1
Single Family Detached, 1 Story - Melbourne, FL                                    1
Townhouse, Residential - St Robert, MO                                             1
Condo/Co-op/Villa/Townhouse, Condo 1-4 Stories - Sunrise, FL                       1
City Residential, RANCH - Cheyenne, WY                                             1
2 Flat - CHICAGO, IL                                                               1
Condominium - JACKSONVILLE, FL                                                     1
Spanish, Single Family - Los Angeles (City), CA                                    1
Single Family Attached, Other - Jersey City, NJ                                    1
Ranch, Single Family - Seneca, SC                                                  1
Single Family - MIROMAR LAKES, FL                                                  1
Pool Only, Single Family - Coral Springs, FL                                       1
Colonial,Traditional, RES-Single Family - Lewisville, TX                           1
Single Family - VESTAVIA HILLS, AL                                                 1
Single Family - RESTON, VA                                                         1
Attached, Colonial - Barrington, RI                                                1
Ranch,Residential, Traditional - Tazewell, TN                                      1
Traditional, Detached - Sherwood, AR                                               1
Detached, Other - BALTIMORE, MD                                                    1
Single Family Detached - Stratford, NY                                             1
Single Family Detached - Jamaica, NY                                               1
Detached Single Family, Traditional - TALLAHASSEE, FL                              1
Single Family Attached - Snohomish, WA                                             1
Single Family Residence, Ranch - ORLANDO, FL                                       1
Craftsman, Residential Detached - Dallas, GA                                       1
Apartment - Ashland, KY                                                            1
R30-no Pool/No Water, Single Family - Sunrise, FL                                  1
Single Family Residence, Ranch,1 Story - Springfield, OR                           1
Ranch, Single Family,Detached - Lakewood, NJ                                       1
Rural Residential, Ranch - Little Rock, AR                                         1
Residential, Ranch - Grovetown, GA                                                 1
Single Family - North Lauderdale, FL                                               1
Rental Home, Colonial - Bayside, NY                                                1
Single Family - Montgomery, AL                                                     1
Villa Detached - BONITA SPRINGS, FL                                                1
Residential Rental, Condo/Co-op/Annual - Bay Harbor Islands, FL                    1
Wf/No Ocean Access, Single Family - Plantation, FL                                 1
Other - See Remarks, Detached - Lake Ariel, PA                                     1
Residential Rental, Single Family-annual - Coral Springs, FL                       1
Single Family Detached, Semi-attached - Bronx, NY                                  1
Residential (town-s/D),Residential,Standard Frame - Smithville, TX                 1
1.5 Story,Exposed Basement, Contemporary - Mukwonago, WI                           1
Ranch, RESIDENTIAL - Rockwood, TN                                                  1
LSE-Duplex - Richardson, TX                                                        1
Single Family - Peoria, IL                                                         1
1 Story, Contemporary - Oshkosh, WI                                                1
Single Family - Detached - Casa Grande, AZ                                         1
RES-Townhouse - North Richland Hills, TX                                           1
Single Family Detached, Mediterranean - Delray Beach, FL                           1

in 900 data rows having 772 city will also not hamper the data

In [18]:
#Droping all the unnecessesory columns
df=df.drop(['fullStreetAddress','listingDescription','lotSizeUnit','unitNumber','geocodioAccuracyScore','listingTitle','city','country'],axis=1)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 900 entries, 0 to 899
Data columns (total 20 columns):
id                     900 non-null int64
postalCode             900 non-null object
stateOrProvince        899 non-null object
bathrooms              900 non-null int64
bedrooms               900 non-null int64
latitude               789 non-null float64
longitude              789 non-null float64
listPrice              900 non-null float64
livingArea             726 non-null float64
livingAreaUnit         900 non-null object
yearBuilt              791 non-null float64
lotSize                562 non-null float64
propertySubType        900 non-null object
listingCategory        900 non-null object
numParkingSpaces       460 non-null float64
createdAt              900 non-null object
photoscount            900 non-null int64
grade                  900 non-null object
favouritecount         900 non-null int64
collabprojectscount    900 non-null int64
dtypes: float64(7), int64(6), object(7)
memory usage: 147.7+ KB

In [20]:
#manually check the data
df.head(10)

        id postalCode stateOrProvince  bathrooms  bedrooms  latitude  longitude  listPrice  livingArea livingAreaUnit  yearBuilt    lotSize         propertySubType listingCategory  numParkingSpaces                   createdAt  photoscount    grade  favouritecount  collabprojectscount
0  2698139      63376              MO          6         5       NaN        NaN   425000.0      3046.0     squareFoot     1998.0        NaN  Single Family Detached        Purchase               3.0  2019-02-21 14:53:27.462+00           29  awesome               0                    0
1  2698093      63119              MO          2         3       NaN        NaN   175000.0      1587.0     squareFoot     1962.0    7753.68  Single Family Detached        Purchase               1.0   2019-02-21 14:53:07.92+00           29  awesome               0                    0
2  2698007      63021              MO          3         3       NaN        NaN   295000.0      2437.0     squareFoot     1986.0   14766.84             Condominium        Purchase               2.0  2019-02-21 14:52:30.126+00           29  awesome               0                    0
3  2697963      63021              MO          2         3       NaN        NaN   215000.0      1780.0     squareFoot     1969.0   11848.32  Single Family Detached        Purchase               2.0   2019-02-21 14:52:11.85+00           29  awesome               0                    0
4  2697938      63366              MO          4         4       NaN        NaN   375000.0      3405.0     squareFoot     2007.0   10890.00  Single Family Detached        Purchase               3.0  2019-02-21 14:51:55.495+00           29  awesome               0                    0
5  2697936      63011              MO          3         4       NaN        NaN   299900.0      1814.0     squareFoot     1999.0    6098.40  Single Family Detached        Purchase               2.0  2019-02-21 14:51:54.803+00           29  awesome               0                    0
6  2697845      63456              MO          1         2       NaN        NaN   140000.0      2800.0     squareFoot     2012.0  140176.08  Single Family Detached        Purchase               2.0  2019-02-21 14:51:05.514+00           29  awesome               0                    0
7  2697825      63624              MO          1         3       NaN        NaN    82500.0      1435.0     squareFoot     1954.0        NaN  Single Family Detached        Purchase               1.0  2019-02-21 14:50:54.169+00           29  awesome               0                    0
8  2697732      63104              MO          4         4       NaN        NaN   239900.0      2358.0     squareFoot     1903.0    2700.72  Single Family Detached        Purchase               2.0  2019-02-21 14:50:19.474+00           29  awesome               0                    0
9  2697716      63026              MO          3         3       NaN        NaN   239900.0      1524.0     squareFoot     1985.0    9583.20  Single Family Detached        Purchase               2.0  2019-02-21 14:49:34.972+00           29  awesome               0                    0

In [21]:
df.postalCode.value_counts()

70085         8
31027         5
89048         5
33185         5
66007         4
33180         4
75002         4
33139         4
41101         3
8527          3
83638         3
33322         3
33705         3
85615         3
33876         3
89122         3
68022         3
89074         3
33133         3
33157         3
11232         2
89120         2
65203         2
89147         2
24360         2
89131         2
32773         2
75078         2
33015         2
90049         2
89011         2
32259         2
33071         2
54403         2
85249         2
32826         2
33913         2
12946         2
11040         2
76034         2
33154         2
33178         2
33033         2
32208         2
27332         2
10128         2
30252         2
8755          2
7030          2
89148         2
33027         2
33777         2
11577         2
89081         2
34134         2
4357          2
11101         2
89109         2
89031         2
86406         2
34691         2
49428         2
20854         2
33068         2
85258         2
10463         2
33172         2
71913         2
32065         2
34238         2
89052         2
33993         2
29582         2
28314         2
33441         2
11967         2
63021         2
33160         2
63366         2
18229         2
89123         2
50320         2
89014         2
33401         2
33165         2
75077         2
89044         2
5250          1
60077         1
87113         1
71483         1
37920         1
63119         1
22102         1
10304         1
11226         1
33069         1
92084         1
39845         1
72758         1
38655         1
60085         1
92203         1
66048         1
23060         1
29403         1
8872          1
50023         1
77008         1
50073         1
33713         1
45680         1
33140         1
29445         1
8501          1
40601         1
31047         1
73438         1
34608         1
33142         1
28078-4680    1
19709         1
7304          1
74427         1
54115-3312    1
23666         1
76207         1
37766         1
78941         1
76052         1
66226         1
50313         1
78240-5247    1
47834         1
80537         1
60565         1
60655         1
37040         1
63376         1
33021         1
42053         1
29577         1
77063         1
30635         1
10019         1
60441         1
5855          1
3038          1
79040         1
7307          1
33331         1
85122         1
34786         1
33603         1
33179         1
67037         1
85015         1
46732         1
95210         1
65584         1
48505-5711    1
75081         1
32327-0000    1
32696         1
38128         1
33328         1
55068         1
89130         1
29678         1
73072         1
49426         1
11235         1
27284         1
93291         1
37075         1
34102         1
30033-1309    1
39452         1
60123         1
14845         1
30540         1
75126         1
50131         1
28205-6141    1
65753         1
29625         1
99203-4123    1
2864          1
30241-8356    1
35212         1
4095          1
89117         1
55965         1
93292         1
21223         1
11365         1
30238         1
75156         1
85298         1
33948         1
92264         1
30127-2419    1
32084         1
30125         1
30101         1
60639         1
33525         1
29045         1
48075         1
60067         1
37841         1
30114-5855    1
50025         1
10010         1
32547         1
23464         1
47909         1
7720          1
76538         1
12159         1
90703         1
78572         1
33016         1
11364         1
11722         1
10021         1
33936         1
28052         1
54873         1
63010         1
28278-8881    1
10312         1
22815         1
75013         1
74021         1
37034         1
32164         1
43021         1
11221         1
6340          1
33703         1
85629         1
33952         1
34234         1
4073          1
92315         1
36613         1
85706         1
33130         1
82941         1
             ..
23456         1
33132         1
32257         1
30135         1
63104         1
44134         1
18080         1
89156         1
07202-3513    1
37130         1
82007         1
29365         1
68025         1
84092         1
90501         1
72727         1
72088         1
27410         1
33319         1
07055-3111    1
50111         1
68521         1
53209         1
49735         1
95407         1
37854         1
40741         1
31525         1
37208         1
30062         1
28460         1
28306         1
20017         1
29170         1
35630         1
78539         1
70764         1
60469         1
32819         1
48221         1
27408         1
85139         1
97078         1
95687         1
71360         1
11434         1
16602         1
48131         1
92236         1
20653         1
29063         1
34956         1
83501         1
54956         1
30656         1
23605         1
89128         1
07060-4623    1
10553         1
76179         1
7740          1
1612          1
33031         1
78087         1
33440         1
33150         1
18020         1
33954         1
98901         1
30277         1
64804         1
13470         1
23974         1
8902          1
83301         1
30064-2641    1
32920         1
74017         1
41097         1
46563         1
48505         1
32162         1
34228         1
7746          1
72315         1
85050         1
8701          1
75035         1
37620         1
89043         1
85373         1
37716         1
30309-6831    1
30309-3936    1
31601         1
89138         1
21213         1
87144         1
97756         1
23229         1
49945         1
33186         1
40220         1
38556         1
4627          1
39451         1
12150         1
59102         1
31535         1
47130         1
85392         1
78676         1
33434         1
44709         1
53538         1
90292         1
23294         1
33127         1
4105          1
41301         1
85375         1
83340         1
89061         1
49690         1
45502         1
13357         1
41056         1
28152         1
60612         1
72210         1
94121         1
64052         1
29323         1
32803         1
32301         1
75701         1
56425         1
65202         1
40245         1
21401         1
33897         1
50309         1
76180         1
19107         1
43220         1
34470         1
2370          1
93442         1
28150         1
37343         1
78957         1
64063         1
71109         1
20194         1
4074          1
90036         1
98682         1
50021         1
28540         1
34473         1
13212         1
14471         1
10030         1
93306         1
76028         1
33056         1
30263         1
89084         1
33446         1
64113         1
33131         1
44301-2714    1
32224         1
50072         1
87940         1
6331          1
20016         1
07018-1031    1
72396         1
68147         1
33617         1
54204-9407    1
33803         1
7701          1
76642         1
50324         1
71909         1
28582         1
98296         1
35040         1
36527         1
98665         1
48240         1
11357         1
13820         1
37764         1
4041          1
29841         1
37135         1
10302         1
43138         1
32608         1
48505-2412    1
23059         1
62864         1
80917         1
54847         1
55448         1
18067         1
65810         1
32784         1
8535          1
71601         1
35055         1
85641         1
29621         1
93308         1
34685         1
23435         1
32746         1
98626         1
79904         1
28625-8707    1
14850         1
11354         1
10704-3010    1
72207         1
66221         1
14127         1
7060          1
79903         1
11758         1
48188         1
41501         1
89119         1
11356         1
11373         1
64155         1
0             1
35079         1
72120         1
41035         1
79938         1
35116         1
07106-1117    1
43015         1
28562         1
7661          1
29032         1
63382         1
Name: postalCode, Length: 778, dtype: int64

postal code is also of no use

In [22]:
df.livingAreaUnit.value_counts()

squareFoot    900
Name: livingAreaUnit, dtype: int64

livingAreaUnit is same for all the rows so not important

In [23]:
df.propertySubType.value_counts()#important

Single Family Detached    636
Condominium                81
Other                      65
Townhouse                  31
Single Family Attached     23
Apartment                  21
Duplex                     20
Mobile Home                 8
Manufactured Home           4
Timeshare                   3
Stock Cooperative           2
Triplex                     2
Farm                        2
Quadruplex                  2
Name: propertySubType, dtype: int64

In [24]:
df.listingCategory.value_counts()#important

Purchase    778
Rent        122
Name: listingCategory, dtype: int64

In [25]:
df.grade.value_counts()#important

good       301
awesome    300
bad        299
Name: grade, dtype: int64

In [26]:
#dropping the non important features
df=df.drop(['postalCode','livingAreaUnit','createdAt'],axis=1)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 900 entries, 0 to 899
Data columns (total 17 columns):
id                     900 non-null int64
stateOrProvince        899 non-null object
bathrooms              900 non-null int64
bedrooms               900 non-null int64
latitude               789 non-null float64
longitude              789 non-null float64
listPrice              900 non-null float64
livingArea             726 non-null float64
yearBuilt              791 non-null float64
lotSize                562 non-null float64
propertySubType        900 non-null object
listingCategory        900 non-null object
numParkingSpaces       460 non-null float64
photoscount            900 non-null int64
grade                  900 non-null object
favouritecount         900 non-null int64
collabprojectscount    900 non-null int64
dtypes: float64(7), int64(6), object(4)
memory usage: 126.6+ KB

In [28]:
df.head(10)

        id stateOrProvince  bathrooms  bedrooms  latitude  longitude  listPrice  livingArea  yearBuilt    lotSize         propertySubType listingCategory  numParkingSpaces  photoscount    grade  favouritecount  collabprojectscount
0  2698139              MO          6         5       NaN        NaN   425000.0      3046.0     1998.0        NaN  Single Family Detached        Purchase               3.0           29  awesome               0                    0
1  2698093              MO          2         3       NaN        NaN   175000.0      1587.0     1962.0    7753.68  Single Family Detached        Purchase               1.0           29  awesome               0                    0
2  2698007              MO          3         3       NaN        NaN   295000.0      2437.0     1986.0   14766.84             Condominium        Purchase               2.0           29  awesome               0                    0
3  2697963              MO          2         3       NaN        NaN   215000.0      1780.0     1969.0   11848.32  Single Family Detached        Purchase               2.0           29  awesome               0                    0
4  2697938              MO          4         4       NaN        NaN   375000.0      3405.0     2007.0   10890.00  Single Family Detached        Purchase               3.0           29  awesome               0                    0
5  2697936              MO          3         4       NaN        NaN   299900.0      1814.0     1999.0    6098.40  Single Family Detached        Purchase               2.0           29  awesome               0                    0
6  2697845              MO          1         2       NaN        NaN   140000.0      2800.0     2012.0  140176.08  Single Family Detached        Purchase               2.0           29  awesome               0                    0
7  2697825              MO          1         3       NaN        NaN    82500.0      1435.0     1954.0        NaN  Single Family Detached        Purchase               1.0           29  awesome               0                    0
8  2697732              MO          4         4       NaN        NaN   239900.0      2358.0     1903.0    2700.72  Single Family Detached        Purchase               2.0           29  awesome               0                    0
9  2697716              MO          3         3       NaN        NaN   239900.0      1524.0     1985.0    9583.20  Single Family Detached        Purchase               2.0           29  awesome               0                    0

In [29]:
df.isna().sum()

id                       0
stateOrProvince          1
bathrooms                0
bedrooms                 0
latitude               111
longitude              111
listPrice                0
livingArea             174
yearBuilt              109
lotSize                338
propertySubType          0
listingCategory          0
numParkingSpaces       440
photoscount              0
grade                    0
favouritecount           0
collabprojectscount      0
dtype: int64

In [30]:
df.numParkingSpaces

0       3.0
1       1.0
2       2.0
3       2.0
4       3.0
5       2.0
6       2.0
7       1.0
8       2.0
9       2.0
10      0.0
11      3.0
12      0.0
13      0.0
14      0.0
15      1.0
16      0.0
17      1.0
18      2.0
19      1.0
20      0.0
21      0.0
22      0.0
23      1.0
24      1.0
25      4.0
26      2.0
27      1.0
28      1.0
29      1.0
30      2.0
31      2.0
32      0.0
33      1.0
34      2.0
35      0.0
36      2.0
37      2.0
38      0.0
39      2.0
40      1.0
41      1.0
42      1.0
43      NaN
44      NaN
45      NaN
46      NaN
47      NaN
48      NaN
49      NaN
50      NaN
51      NaN
52      NaN
53      NaN
54      NaN
55      NaN
56      NaN
57      NaN
58      NaN
59      NaN
60      NaN
61      NaN
62      NaN
63      NaN
64      NaN
65      NaN
66      NaN
67      NaN
68      NaN
69      NaN
70      NaN
71      NaN
72      NaN
73      NaN
74      NaN
75      NaN
76      NaN
77      NaN
78      NaN
79      NaN
80      NaN
81      NaN
82      NaN
83      NaN
84      NaN
85      NaN
86      NaN
87      NaN
88      NaN
89      NaN
90      2.0
91      2.0
92      3.0
93      3.0
94      3.0
95      3.0
96      3.0
97      3.0
98      0.0
99      2.0
100     2.0
101     8.0
102     1.0
103     NaN
104     3.0
105     1.0
106     NaN
107     2.0
108     NaN
109     NaN
110     NaN
111     NaN
112     2.0
113     NaN
114     1.0
115     NaN
116     3.0
117     2.0
118     NaN
119     3.0
120     NaN
121     NaN
122     NaN
123     2.0
124     2.0
125     NaN
126     NaN
127     NaN
128     NaN
129     NaN
130     2.0
131     NaN
132     NaN
133     0.0
134     0.0
135     4.0
136     NaN
137     2.0
138     1.0
139     NaN
140     2.0
141     3.0
142     2.0
143     NaN
144     1.0
145     NaN
146     1.0
147     NaN
148     NaN
149     NaN
150     NaN
151     NaN
152     4.0
153     1.0
154     2.0
155     1.0
156     2.0
157     2.0
158     NaN
159     NaN
160     NaN
161     NaN
162     NaN
163     NaN
164     NaN
165     2.0
166     NaN
167     NaN
168     NaN
169     NaN
170     NaN
171     1.0
172     NaN
173     1.0
174     NaN
175     2.0
176     NaN
177     NaN
178     NaN
179     0.0
180     2.0
181     NaN
182     NaN
183     0.0
184     2.0
185     0.0
186     0.0
187     NaN
188     NaN
189     0.0
190     0.0
191     2.0
192     2.0
193     NaN
194     NaN
195     NaN
196     NaN
197     NaN
198     3.0
199     NaN
200     NaN
201     0.0
202     4.0
203     2.0
204     1.0
205     3.0
206     NaN
207     NaN
208     NaN
209     2.0
210     2.0
211     2.0
212     1.0
213     NaN
214     0.0
215     2.0
216     3.0
217     NaN
218     NaN
219     NaN
220     NaN
221     1.0
222     2.0
223     NaN
224     2.0
225     2.0
226     2.0
227     2.0
228     NaN
229     1.0
230     1.0
231     2.0
232     NaN
233     1.0
234     NaN
235     NaN
236     2.0
237     NaN
238     NaN
239     1.0
240     3.0
241     2.0
242     2.0
243     3.0
244     NaN
245     0.0
246     1.0
247     2.0
248     NaN
249     NaN
       ...
650     1.0
651     NaN
652     NaN
653     NaN
654     NaN
655     NaN
656     NaN
657     NaN
658     NaN
659     NaN
660     2.0
661     NaN
662     NaN
663     NaN
664     NaN
665     NaN
666     NaN
667     1.0
668     NaN
669     NaN
670     NaN
671     3.0
672     3.0
673     3.0
674     0.0
675     0.0
676     0.0
677     2.0
678     0.0
679     0.0
680     0.0
681     0.0
682     3.0
683     1.0
684     2.0
685     2.0
686     2.0
687     3.0
688     4.0
689     2.0
690     2.0
691     1.0
692     2.0
693     4.0
694     NaN
695     NaN
696     NaN
697     NaN
698     NaN
699     NaN
700     NaN
701     NaN
702     NaN
703     NaN
704     NaN
705     NaN
706     2.0
707     2.0
708     NaN
709     2.0
710     NaN
711     NaN
712     1.0
713     2.0
714     NaN
715     NaN
716     NaN
717     4.0
718     NaN
719     NaN
720     NaN
721     1.0
722     2.0
723     1.0
724     2.0
725     1.0
726     2.0
727     1.0
728     2.0
729     9.0
730     1.0
731     0.0
732     NaN
733     NaN
734     NaN
735     NaN
736     0.0
737     2.0
738     2.0
739     NaN
740     3.0
741     NaN
742     NaN
743     NaN
744     2.0
745     2.0
746     2.0
747     NaN
748     2.0
749     NaN
750     NaN
751     1.0
752     1.0
753     6.0
754     NaN
755     2.0
756     2.0
757     2.0
758     2.0
759     2.0
760     2.0
761     2.0
762     2.0
763     3.0
764     2.0
765     4.0
766     NaN
767     2.0
768     2.0
769     NaN
770     NaN
771     NaN
772     NaN
773     NaN
774     NaN
775     NaN
776     NaN
777     NaN
778     NaN
779     NaN
780     NaN
781     NaN
782     NaN
783     NaN
784     NaN
785     NaN
786     2.0
787     1.0
788     NaN
789     NaN
790     NaN
791     NaN
792     NaN
793     NaN
794     NaN
795     NaN
796     NaN
797     NaN
798     2.0
799     NaN
800     NaN
801     NaN
802     NaN
803     NaN
804     NaN
805     NaN
806     NaN
807     NaN
808     NaN
809     NaN
810     NaN
811     1.0
812    12.0
813     NaN
814     NaN
815     NaN
816     0.0
817     1.0
818     2.0
819     NaN
820     NaN
821     NaN
822     NaN
823     NaN
824     4.0
825     NaN
826     NaN
827     NaN
828     NaN
829     4.0
830     NaN
831     NaN
832     2.0
833     2.0
834     NaN
835     NaN
836     NaN
837     2.0
838     NaN
839     NaN
840     3.0
841     1.0
842     NaN
843     1.0
844     0.0
845     3.0
846     3.0
847     NaN
848     NaN
849     4.0
850     NaN
851     0.0
852     NaN
853     NaN
854     2.0
855     2.0
856     2.0
857     1.0
858     1.0
859     1.0
860     1.0
861     0.0
862     0.0
863     0.0
864     0.0
865     1.0
866     0.0
867     0.0
868     0.0
869     0.0
870     0.0
871     0.0
872     1.0
873     0.0
874     1.0
875     0.0
876     0.0
877     0.0
878     0.0
879     0.0
880     0.0
881     2.0
882     0.0
883     0.0
884     0.0
885     5.0
886     0.0
887     0.0
888     0.0
889     0.0
890     0.0
891     0.0
892     0.0
893     0.0
894     0.0
895     1.0
896     0.0
897     0.0
898     2.0
899     0.0
Name: numParkingSpaces, Length: 900, dtype: float64

in case of parking spaces we can assume that if not given means not present so we will fill it with 0

In [31]:
df['numParkingSpaces']=df['numParkingSpaces'].fillna(0)

yearBuilt we can fill it with the mod of all the years as it should be around it

In [32]:
df['yearBuilt']=df['yearBuilt'].fillna(df['yearBuilt'].mode())

lotside and living area can be considered as mean as it is the best option rather than excluding the rows

In [33]:
df['lotSize']=df['lotSize'].fillna(df['lotSize'].mean())
df['livingArea']=df['livingArea'].fillna(df['livingArea'].mean())

In [43]:
df.head()

        id stateOrProvince  bathrooms  bedrooms  listPrice  livingArea  yearBuilt        lotSize         propertySubType listingCategory  numParkingSpaces  photoscount    grade
0  2698139              MO          6         5   425000.0      3046.0     1998.0  122417.000783  Single Family Detached        Purchase               3.0           29  awesome
1  2698093              MO          2         3   175000.0      1587.0     1962.0    7753.680000  Single Family Detached        Purchase               1.0           29  awesome
2  2698007              MO          3         3   295000.0      2437.0     1986.0   14766.840000             Condominium        Purchase               2.0           29  awesome
3  2697963              MO          2         3   215000.0      1780.0     1969.0   11848.320000  Single Family Detached        Purchase               2.0           29  awesome
4  2697938              MO          4         4   375000.0      3405.0     2007.0   10890.000000  Single Family Detached        Purchase               3.0           29  awesome

In [35]:
#we can drop this as stateorprovince will act as better one.
df=df.drop(['latitude','longitude'],axis=1)

In [36]:

print(df.collabprojectscount.value_counts())
print(df.favouritecount.value_counts())

0    900
Name: collabprojectscount, dtype: int64
0    900
Name: favouritecount, dtype: int64

thus no point of keeping it

In [37]:
df=df.drop(['collabprojectscount','favouritecount'],axis=1)

In [42]:
df.head()

        id stateOrProvince  bathrooms  bedrooms  listPrice  livingArea  yearBuilt        lotSize         propertySubType listingCategory  numParkingSpaces  photoscount    grade
0  2698139              MO          6         5   425000.0      3046.0     1998.0  122417.000783  Single Family Detached        Purchase               3.0           29  awesome
1  2698093              MO          2         3   175000.0      1587.0     1962.0    7753.680000  Single Family Detached        Purchase               1.0           29  awesome
2  2698007              MO          3         3   295000.0      2437.0     1986.0   14766.840000             Condominium        Purchase               2.0           29  awesome
3  2697963              MO          2         3   215000.0      1780.0     1969.0   11848.320000  Single Family Detached        Purchase               2.0           29  awesome
4  2697938              MO          4         4   375000.0      3405.0     2007.0   10890.000000  Single Family Detached        Purchase               3.0           29  awesome

In [39]:
df.corr().style.background_gradient()

In [40]:
df=df.dropna()

In [41]:
df.to_csv('cleaned_data.csv')